<!-- directive: force-scroll -->
<div ng-cloak>

    <div ng-if="total === 0">
        <div class="refine-section" ng-cloak>
            <div class="row">
                <div ng-if="!category.name" class="col-xs-12 col-sm-6  title">{{total}} {{ 'RESULTS' | translate }}</div>
            </div>
            <div class="row">
                <div class="text-center">
                    <div translate="FOUND_FOR" translate-compile translate-values="{total: '{{total}}', searchString: '{{searchString}}'}"></div>
                </div>
            </div>
            <div class="row continueShoppingBtn">
                <a ui-sref="base.category" class="btn btn-primary btn-large btn-block">{{'CONTINUE_SHOPPING' | translate}}</a>
            </div>
        </div>
    </div>

    <div ng-if="total > 0">

        <!-- refinement section -->
        <div class="refine-section">
            <div class="row">
                <div class="content-container">
                    <div class="clearfix visible-sm"></div>

                    <!-- sort control -->
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="sortContainer search-list-sort">
                            <div class="name pull-left">{{'SORT_BY' | translate}}:</div>
                            <div class="form-group pull-left">
                                <label for="" class="sr-only">{{'SORT_BY' | translate}}:</label>

                                <div class="custom-select-container">
                                    <ui-select ng-model="sort.selected" on-select="setSortedPage($item.id)">
                                        <ui-select-match>
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item.id as item in (sortParams | filter: $select.search)">
                                            <span ng-bind="item.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- pagination control -->
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 pull-right">
                        <div class="viewingContainer">
                            <span class="name">{{'VIEWING' | translate}}</span>
                            <span class="page-indicator"
                                  translate="PRODUCTS_FROM_TO"
                                  translate-compile
                                  translate-values="{productsFrom: '{{pagination.productsFrom}}', productsTo: '{{pagination.productsTo}}', total: '{{total}}'}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- bread crumbs -->
        <ybreadcrumb yitem="category" size="'large'"></ybreadcrumb>

        <section class="white">

            <!-- page title -->
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1 class="pageTitle productListTitle"><span translate="FOUND_FOR" translate-values="{total: total, searchString: searchString}"></span></h1>
                </div>
            </div>

            <!-- sticky refinements bar -->
            <div refine-affix refine-affix-grid-element=".product-grid" refine-affix-offset="0" id="refineAffix" class="refine-section responsive-fixed">
                <div class="row">
                    <div class="content-container">
                        <div class="clearfix visible-sm"></div>

                        <!-- sort control -->
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="sortContainer search-list-sort">
                                <div class="name pull-left">{{'SORT_BY' | translate}}:</div>
                                <div class="form-group pull-left">
                                    <label for="" class="sr-only">{{'SORT_BY' | translate}}:</label>

                                    <div class="custom-select-container">
                                        <ui-select ng-model="sort.selected" on-select="setSortedPage($item.id)">
                                            <ui-select-match>
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item.id as item in (sortParams | filter: $select.search)">
                                                <span ng-bind="item.name"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- pagination control -->
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 pull-right">
                            <div class="viewingContainer">
                                <span class="name">{{'VIEWING' | translate}}</span>
                                <span class="page-indicator"
                                      translate="PRODUCTS_FROM_TO"
                                      translate-compile
                                      translate-values="{productsFrom: '{{pagination.productsFrom}}', productsTo: '{{pagination.productsTo}}', total: '{{total}}'}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row product-grid" infinite-scroll="addMore()" infinite-scroll-distance="0"
                 infinite-scroll-immediate-check="false"
                 infinite-scroll-data="pagination" ng-cloak
                 infinite-scroll-visible-items>
                <div class="item col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="product in products"
                     on-finish-render-ng-repeat on-finish-render-ng-repeat-event="initialViewportCheck">
                    
                    <a id="p_{{product.id}}" ng-click="openProductDetails(product.id)" ui-sref="base.product.detail( {productId: product.id, lastCatId: lastCatId} )">
                        <div class="productContainer">
                            <div class="thumb">
                                <img ng-src="{{ product && product.mainImageURL || PLACEHOLDER_IMAGE}}" alt="">
                            </div>
                            <div class="productInfoContainer text-center">
                                <div class="name">{{ product.name }}</div>
                                <price-label price="prices[product.id]" range="product.hasVariants" currency-symbol="{{currencySymbol}}"></price-label>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <button type="button" id="to-top-btn" ng-click="backToTop()" class="btn btn-link back-to-top-button pull-left menu">
                <span class="hyicon hyicon-chevron-bold-up" />
            </button>
        </section>


    </div>

</div>