
<div id="base" class="">

<!-- Unnamed (Shape) -->
<div id="u0" class="ax_paragraph">
    <img id="u0_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u1" class="text">
        <p><span>Secure Checkout</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u2" class="ax_paragraph">
    <img id="u2_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u3" class="text">
        <p><span>1&nbsp; My Details</span></p>
    </div>
</div>

<!-- Required Fields (Text Field) -->
<div id="u4" class="ax_text_field">
    <input id="u4_input" type="text" value="FIRST" data-label="Required Fields"/>
</div>

<!-- Required Fields (Text Field) [footnote] -->
<div id="u4_ann" class="annotation"></div>

<!-- Unnamed (Text Field) -->
<div id="u5" class="ax_text_field">
    <input id="u5_input" type="text" value=""/>
</div>

<!-- Unnamed (Text Field) -->
<div id="u6" class="ax_text_field">
    <input id="u6_input" type="text" value="ADDRESS"/>
</div>

<!-- Unnamed (Text Field) -->
<div id="u7" class="ax_text_field">
    <input id="u7_input" type="text" value=""/>
</div>

<!-- Unnamed (Text Field) -->
<div id="u8" class="ax_text_field">
    <input id="u8_input" type="text" value="CITY&nbsp; &nbsp;&nbsp; "/>
</div>

<!-- Unnamed (Shape) -->
<div id="u9" class="ax_paragraph">
    <img id="u9_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u10" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Unnamed (Droplist) -->
<div id="u11" class="ax_droplist">
    <select id="u11_input">
        <option value="STATE">STATE</option>
    </select>
</div>

<!-- Unnamed (Text Field) -->
<div id="u12" class="ax_text_field">
    <input id="u12_input" type="text" value=""/>
</div>

<!-- Unnamed (Shape) -->
<div id="u13" class="ax_paragraph">
    <img id="u13_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u14" class="text">
        <p><span>LAST/SURNAME</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u15" class="ax_paragraph">
    <img id="u15_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u16" class="text">
        <p><span>ADDRESS 2 </span></p><p><span>(Optional)</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u17" class="ax_paragraph">
    <img id="u17_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u18" class="text">
        <p><span>ZIP/POSTAL CODE</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u19" class="ax_paragraph">
    <img id="u19_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u20" class="text">
        <p><span>BILLING ADDRESS</span></p>
    </div>
</div>

<!-- Email Field (Text Field) -->
<div id="u21" class="ax_text_field">
    <input id="u21_input" type="text" value="" data-label="Email Field"/>
</div>

<!-- Unnamed (Shape) -->
<div id="u22" class="ax_paragraph">
    <img id="u22_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u23" class="text">
        <p><span>EMAIL</span></p>
    </div>
</div>

<!-- Secure Checkout Icon(s) (Shape) -->
<div id="u24" class="ax_shape" data-label="Secure Checkout Icon(s)">
    <img id="u24_img" class="img " src="images/guest_mydetails_guest_1400/secure_checkout_icon_s__u24.png"/>
    <!-- Unnamed () -->
    <div id="u25" class="text">
        <p><span>Secure Checkout Icon(s)</span></p>
    </div>
</div>

<!-- Secure Checkout Icon(s) (Shape) [footnote] -->
<div id="u24_ann" class="annotation"></div>

<!-- Country (Droplist) -->
<div id="u26" class="ax_droplist">
    <select id="u26_input" data-label="Country">
        <option selected value="COUNTRY">COUNTRY</option>
    </select>
</div>

<!-- Country (Droplist) [footnote] -->
<div id="u26_ann" class="annotation"></div>

<!-- Unnamed (Shape) -->
<div id="u27" class="ax_shape">
    <img id="u27_img" class="img " src="images/guest_mydetails_guest_1400/u27.png"/>
    <!-- Unnamed () -->
    <div id="u28" class="text">
        <p><span>Flag</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u29" class="ax_paragraph">
    <img id="u29_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u30" class="text">
        <p><span>&lt;Country&gt;</span></p>
    </div>
</div>

<!-- Unnamed (1400 Navigation) -->

<!-- Unnamed (Shape) -->
<div id="u32" class="ax_shape">
    <img id="u32_img" class="img " src="images/notformvp_signin_1400_usefor1900/u3.png"/>
    <!-- Unnamed () -->
    <div id="u33" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u34" class="ax_shape">
    <img id="u34_img" class="img " src="images/notformvp_signin_1400_usefor1900/u5.png"/>
    <!-- Unnamed () -->
    <div id="u35" class="text">
        <p><span>Logo</span></p>
    </div>
</div>

<!-- Unnamed (Text Field) -->
<div id="u36" class="ax_text_field">
    <input id="u36_input" type="text" value=""/>
</div>

<!-- Search (Image) -->
<div id="u37" class="ax_image" data-label="Search">
    <img id="u37_img" class="img " src="images/notformvp_signin_1400_usefor1900/search_u8.png"/>
    <!-- Unnamed () -->
    <div id="u38" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u39" class="ax_paragraph">
    <img id="u39_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u40" class="text">
        <p><span style="text-decoration:underline;">&lt;Navigation&gt;</span></p><p><span style="text-decoration:underline;">&nbsp;</span></p><p><span style="text-decoration:underline;">&lt;Navigation&gt;</span></p><p><span style="text-decoration:underline;">&nbsp;</span></p><p><span style="text-decoration:underline;">&lt;Navigation&gt;</span></p><p><span style="text-decoration:underline;">&nbsp;</span></p><p><span style="text-decoration:underline;">&lt;Navigation&gt;</span></p><p><span style="text-decoration:underline;">&nbsp;</span></p><p><span style="text-decoration:underline;">&lt;Navigation&gt;</span></p><p><span style="text-decoration:underline;">&nbsp;</span></p><p><span style="text-decoration:underline;">&lt;Navigation&gt;</span></p><p><span style="text-decoration:underline;">&nbsp;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u41" class="ax_shape">
    <img id="u41_img" class="img " src="images/notformvp_signin_1400_usefor1900/u26.png"/>
    <!-- Unnamed () -->
    <div id="u42" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Unnamed (Image) -->
<div id="u43" class="ax_image">
    <img id="u43_img" class="img " src="images/notformvp_signin_320/u12.png"/>
    <!-- Unnamed () -->
    <div id="u44" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u45" class="ax_paragraph">
    <img id="u45_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u46" class="text">
        <p><span>2&nbsp; Shippng Information</span></p>
    </div>
</div>

<!-- Unnamed (HTML Button) -->
<div id="u47" class="ax_html_button">
    <input id="u47_input" type="submit" value=""/>
</div>

<!-- Unnamed (Shape) -->
<div id="u48" class="ax_paragraph">
    <img id="u48_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u49" class="text">
        <p><span>SAME AS BILLING ADDRESS</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u50" class="ax_paragraph">
    <img id="u50_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u51" class="text">
        <p><span>SHIPPING ADDRESS</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u52" class="ax_paragraph">
    <img id="u52_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u53" class="text">
        <p><span>&lt;Address1&gt; &lt;Address2&gt; &lt;City&gt; &lt;State&gt;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u54" class="ax_paragraph">
    <img id="u54_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u55" class="text">
        <p><span>DELIVERY METHOD</span></p>
    </div>
</div>

<!-- Shipping Address - Same As Billing Address (Image) -->
<div id="u56" class="ax_image" data-label="Shipping Address - Same As Billing Address">
    <img id="u56_img" class="img " src="images/guest_mydetails_guest_1400/shipping_address_-_same_as_billing_address_u56.png"/>
    <!-- Unnamed () -->
    <div id="u57" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Shipping Address - Same As Billing Address (Image) [footnote] -->
<div id="u56_ann" class="annotation"></div>

<!-- Unnamed (Shape) -->
<div id="u58" class="ax_shape">
    <img id="u58_img" class="img " src="images/guest_mydetails_guest_1400/u58.png"/>
    <!-- Unnamed () -->
    <div id="u59" class="text">
        <p><span>Secure Checkout Icon(s)</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u60" class="ax_paragraph">
    <img id="u60_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u61" class="text">
        <p><span>3&nbsp; Payment</span></p>
    </div>
</div>

<!-- Credit Card/Payment Icons (Shape) -->
<div id="u62" class="ax_shape" data-label="Credit Card/Payment Icons">
    <img id="u62_img" class="img " src="images/guest_mydetails_guest_1400/credit_card_payment_icons_u62.png"/>
    <!-- Unnamed () -->
    <div id="u63" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Credit Card/Payment Icons (Shape) [footnote] -->
<div id="u62_ann" class="annotation"></div>

<!-- Unnamed (Shape) -->
<div id="u64" class="ax_shape">
    <img id="u64_img" class="img " src="images/guest_mydetails_guest_1400/u64.png"/>
    <!-- Unnamed () -->
    <div id="u65" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Place Order Button (Shape) -->
<div id="u66" class="ax_shape" data-label="Place Order Button">
    <img id="u66_img" class="img " src="images/guest_mydetails_guest_1400/place_order_button_u66.png"/>
    <!-- Unnamed () -->
    <div id="u67" class="text">
        <p><span>PLACE ORER</span></p>
    </div>
</div>

<!-- Place Order Button (Shape) [footnote] -->
<div id="u66_ann" class="annotation"></div>

<!-- Order Total - Sercure Checkout Form (Shape) -->
<div id="u68" class="ax_paragraph" data-label="Order Total - Sercure Checkout Form">
    <img id="u68_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u69" class="text">
        <p><span>TOTAL&nbsp; $&lt;##.##&gt;</span></p>
    </div>
</div>

<!-- Order Total - Sercure Checkout Form (Shape) [footnote] -->
<div id="u68_ann" class="annotation"></div>

<!-- Unnamed (Shape) -->
<div id="u70" class="ax_paragraph">
    <img id="u70_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u71" class="text">
        <p><span>&lt;#&gt; Digits</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u72" class="ax_paragraph">
    <img id="u72_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u73" class="text">
        <p><span>email@email.com</span></p>
    </div>
</div>

<!-- Unnamed (Horizontal Line) -->
<div id="u74" class="ax_horizontal_line">
    <img id="u74_start" class="img " src="resources/images/transparent.gif" alt="u74_start"/>
    <img id="u74_end" class="img " src="resources/images/transparent.gif" alt="u74_end"/>
    <img id="u74_line" class="img " src="images/guest_mydetails_guest_1400/u74_line.png" alt="u74_line"/>
</div>

<!-- Unnamed (Horizontal Line) -->
<div id="u75" class="ax_horizontal_line">
    <img id="u75_start" class="img " src="resources/images/transparent.gif" alt="u75_start"/>
    <img id="u75_end" class="img " src="resources/images/transparent.gif" alt="u75_end"/>
    <img id="u75_line" class="img " src="images/guest_mydetails_guest_1400/u74_line.png" alt="u75_line"/>
</div>

<!-- Text Field Behavior (Shape) -->
<div id="u76" class="ax_paragraph" data-label="Text Field Behavior">
    <img id="u76_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u77" class="text">
        <p><span>&lt;First Name&gt;</span></p>
    </div>
</div>

<!-- Text Field Behavior (Shape) [footnote] -->
<div id="u76_ann" class="annotation"></div>

<!-- Delivery Method (Droplist) -->
<div id="u78" class="ax_droplist">
    <select id="u78_input" data-label="Delivery Method" disabled>
    </select>
</div>

<!-- Delivery Method (Droplist) [footnote] -->
<div id="u78_ann" class="annotation"></div>

<!-- Unnamed (Shape) -->
<div id="u79" class="ax_paragraph">
    <img id="u79_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u80" class="text">
        <p><span>DELIVERY METHOD</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u81" class="ax_paragraph">
    <img id="u81_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u82" class="text">
        <p><span>Flat Rate $3.00</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u83" class="ax_shape">
    <img id="u83_img" class="img " src="images/guest_mydetails_guest_1400/u83.png"/>
    <!-- Unnamed () -->
    <div id="u84" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Order Details (Shape) -->
<div id="u85" class="ax_paragraph" data-label="Order Details">
    <img id="u85_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u86" class="text">
        <p><span>Order Details</span></p>
    </div>
</div>

<!-- Order Details (Shape) [footnote] -->
<div id="u85_ann" class="annotation"></div>

<!-- Unnamed (Shape) -->
<div id="u87" class="ax_paragraph">
    <img id="u87_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u88" class="text">
        <p><span>$&lt;##.##&gt; </span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u89" class="ax_shape">
    <img id="u89_img" class="img " src="images/guest_mydetails_guest_1400/u89.png"/>
    <!-- Unnamed () -->
    <div id="u90" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u91" class="ax_shape">
    <img id="u91_img" class="img " src="images/guest_mydetails_guest_1400/u91.png"/>
    <!-- Unnamed () -->
    <div id="u92" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Subtotal (Shape) -->
<div id="u93" class="ax_paragraph" data-label="Subtotal">
    <img id="u93_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u94" class="text">
        <p><span>Subtotal&nbsp; &nbsp;&nbsp; $&lt;##.##&gt;</span></p>
    </div>
</div>

<!-- Subtotal (Shape) [footnote] -->
<div id="u93_ann" class="annotation"></div>

<!-- Shipping (Shape) -->
<div id="u95" class="ax_paragraph" data-label="Shipping">
    <img id="u95_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u96" class="text">
        <p><span>Shipping&nbsp; &nbsp;&nbsp; $&lt;##.##&gt;</span></p>
    </div>
</div>

<!-- Shipping (Shape) [footnote] -->
<div id="u95_ann" class="annotation"></div>

<!-- Tax (Shape) -->
<div id="u97" class="ax_paragraph" data-label="Tax">
    <img id="u97_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u98" class="text">
        <p><span>Tax&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $&lt;##.##&gt;</span></p>
    </div>
</div>

<!-- Tax (Shape) [footnote] -->
<div id="u97_ann" class="annotation"></div>

<!-- Order Total - Order Summary (Shape) -->
<div id="u99" class="ax_paragraph" data-label="Order Total - Order Summary">
    <img id="u99_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u100" class="text">
        <p><span>Order Total</span></p>
    </div>
</div>

<!-- Order Total - Order Summary (Shape) [footnote] -->
<div id="u99_ann" class="annotation"></div>

<!-- Unnamed (Shape) -->
<div id="u101" class="ax_paragraph">
    <img id="u101_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u102" class="text">
        <p><span>$&lt;##.##&gt; </span></p>
    </div>
</div>

<!-- # Items (Shape) -->
<div id="u103" class="ax_paragraph" data-label="# Items">
    <img id="u103_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u104" class="text">
        <p><span>&lt;#&gt; Items </span></p>
    </div>
</div>

<!-- # Items (Shape) [footnote] -->
<div id="u103_ann" class="annotation"></div>

<!-- Unnamed (Shape) -->
<div id="u105" class="ax_paragraph">
    <img id="u105_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u106" class="text">
        <p><span>Total</span></p>
    </div>
</div>

<!-- Access Product Details (Shape) -->
<div id="u107" class="ax_paragraph" data-label="Access Product Details">
    <img id="u107_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u108" class="text">
        <p><span>&lt;Product Name&gt;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u109" class="ax_paragraph">
    <img id="u109_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u110" class="text">
        <p><span>$&lt;##.##&gt;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u111" class="ax_paragraph">
    <img id="u111_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u112" class="text">
        <p><span>Total Price $&lt;##.##&gt;</span></p>
    </div>
</div>

<!-- Product Image/Name (Shape) -->
<div id="u113" class="ax_shape" data-label="Product Image/Name">
    <img id="u113_img" class="img " src="images/guest_mydetails_guest_1400/product_image_name_u113.png"/>
    <!-- Unnamed () -->
    <div id="u114" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Product Image/Name (Shape) [footnote] -->
<div id="u113_ann" class="annotation"></div>

<!-- Unnamed (Shape) -->
<div id="u115" class="ax_paragraph">
    <img id="u115_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u116" class="text">
        <p><span>&lt;VARLABEL&gt;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u117" class="ax_paragraph">
    <img id="u117_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u118" class="text">
        <p><span>&lt;Variant&gt;</span></p>
    </div>
</div>

<!-- Unnamed (Horizontal Line) -->
<div id="u119" class="ax_horizontal_line">
    <img id="u119_start" class="img " src="resources/images/transparent.gif" alt="u119_start"/>
    <img id="u119_end" class="img " src="resources/images/transparent.gif" alt="u119_end"/>
    <img id="u119_line" class="img " src="images/guest_mydetails_guest_1400/u119_line.png" alt="u119_line"/>
</div>

<!-- Unnamed (Shape) -->
<div id="u120" class="ax_paragraph">
    <img id="u120_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u121" class="text">
        <p><span>&lt;VARLABEL&gt;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u122" class="ax_paragraph">
    <img id="u122_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u123" class="text">
        <p><span>&lt;Variant&gt;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u124" class="ax_paragraph">
    <img id="u124_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u125" class="text">
        <p><span>Qty &lt;#&gt;</span></p>
    </div>
</div>

<!-- Access Product Details (Shape) -->
<div id="u126" class="ax_paragraph" data-label="Access Product Details">
    <img id="u126_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u127" class="text">
        <p><span>&lt;Product Name&gt;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u128" class="ax_paragraph">
    <img id="u128_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u129" class="text">
        <p><span>$&lt;##.##&gt;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u130" class="ax_paragraph">
    <img id="u130_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u131" class="text">
        <p><span>Total Price $&lt;##.##&gt;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u132" class="ax_shape">
    <img id="u132_img" class="img " src="images/guest_mydetails_guest_1400/product_image_name_u113.png"/>
    <!-- Unnamed () -->
    <div id="u133" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Unnamed (Horizontal Line) -->
<div id="u134" class="ax_horizontal_line">
    <img id="u134_start" class="img " src="resources/images/transparent.gif" alt="u134_start"/>
    <img id="u134_end" class="img " src="resources/images/transparent.gif" alt="u134_end"/>
    <img id="u134_line" class="img " src="images/guest_mydetails_guest_1400/u119_line.png" alt="u134_line"/>
</div>

<!-- Unnamed (Shape) -->
<div id="u135" class="ax_paragraph">
    <img id="u135_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u136" class="text">
        <p><span>Qty &lt;#&gt;</span></p>
    </div>
</div>

<!-- Access Product Details (Shape) -->
<div id="u137" class="ax_paragraph" data-label="Access Product Details">
    <img id="u137_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u138" class="text">
        <p><span>&lt;Product Name&gt;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u139" class="ax_paragraph">
    <img id="u139_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u140" class="text">
        <p><span>$&lt;##.##&gt;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u141" class="ax_paragraph">
    <img id="u141_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u142" class="text">
        <p><span>Total Price $&lt;##.##&gt;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u143" class="ax_shape">
    <img id="u143_img" class="img " src="images/guest_mydetails_guest_1400/product_image_name_u113.png"/>
    <!-- Unnamed () -->
    <div id="u144" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u145" class="ax_paragraph">
    <img id="u145_img" class="img " src="resources/images/transparent.gif"/>
    <!-- Unnamed () -->
    <div id="u146" class="text">
        <p><span>Qty &lt;#&gt;</span></p>
    </div>
</div>

<!-- Unnamed (Hot Spot) -->
<div id="u147" class="ax_hot_spot">
</div>

<!-- Unnamed (Hot Spot) -->
<div id="u148" class="ax_hot_spot">
</div>

<!-- Unnamed (Image) -->
<div id="u149" class="ax_image">
    <img id="u149_img" class="img " src="images/guest_mydetails_guest_1400/u149.png"/>
    <!-- Unnamed () -->
    <div id="u150" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Unnamed (Image) -->
<div id="u151" class="ax_image">
    <img id="u151_img" class="img " src="images/guest_mydetails_guest_1400/u151.png"/>
    <!-- Unnamed () -->
    <div id="u152" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Unnamed (Image) -->
<div id="u153" class="ax_image">
    <img id="u153_img" class="img " src="images/guest_mydetails_guest_1400/u153.jpg"/>
    <!-- Unnamed () -->
    <div id="u154" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Unnamed (Image) -->
<div id="u155" class="ax_image">
    <img id="u155_img" class="img " src="images/guest_mydetails_guest_1400/u155.png"/>
    <!-- Unnamed () -->
    <div id="u156" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u157" class="ax_shape">
    <img id="u157_img" class="img " src="images/guest_mydetails_guest_1400/credit_card_payment_icons_u62.png"/>
    <!-- Unnamed () -->
    <div id="u158" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u159" class="ax_shape">
    <img id="u159_img" class="img " src="images/guest_mydetails_guest_1400/credit_card_payment_icons_u62.png"/>
    <!-- Unnamed () -->
    <div id="u160" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>

<!-- Unnamed (Shape) -->
<div id="u161" class="ax_shape">
    <img id="u161_img" class="img " src="images/guest_mydetails_guest_1400/u161.png"/>
    <!-- Unnamed () -->
    <div id="u162" class="text">
        <p><span>&nbsp;</span></p>
    </div>
</div>
</div>

