<div class="CheckoutCartContainer">

    <h2>{{'ORDER_DETAILS' | translate}}
        <!--<span id="checkout-cart-btn"  class="glyphicon glyphicon-pencil"  ng-click="showEditCart()"  ng-if="cart.items.length"></span>-->
    </h2>

    <!-- cart items -->
    <section class="cartItems" ng-cloak>

        <table class="table table-striped cart-items-table">

            <!-- desktop view -->
            <tbody class="hidden-sm hidden-xs">
                <tr>
                    <th colspan="2">
                        <div ng-cloak>
                            <span ng-if="cart.totalUnitsCount > 1">{{'TOTAL' | translate}} ({{cart.totalUnitsCount}} {{'ITEMS' | translate}}) </span>
                            <span ng-if="cart.totalUnitsCount <= 1">{{'TOTAL' | translate}} ({{cart.totalUnitsCount}} {{'ITEM' | translate}}) </span>
                            <span class="cart-totalPrice">{{cart.totalPrice.amount | currency: currencySymbol}}</span>
                        </div>
                    </th>
                    <th class="text-right item-price-col">{{'ITEM_PRICE' | translate}}:</th>
                    <th class="text-center qty-col">{{'QTY' | translate}}:</th>
                    <th class="text-right total-col">{{'TOTAL_PRICE' | translate}}: </th>
                    <th></th>
                </tr>

                <tr ng-repeat="item in cart.items track by $index">
                    <td class="img-col">
                        <a ui-sref="base.product.detail( {productId: item.product.id} )">
                            <img ng-src="{{ item && item.product.images[0].url || ''}}" class="product-img" />
                        </a>
                    </td>
                    <td>
                      <ul class="list-unstyled">
                        <li>{{item.product.name}}</li>
                        <li ng-repeat="variant in item.variants track by $index">{{variant}}</li>                        
                      </ul>
                    </td>

                    <td class="text-right item-effectiveAmount">
                        {{item.price.effectiveAmount | currency: currencySymbol}}  <span class="priceUnit" ng-if="item.price.measurementUnit">{{item.price.measurementUnit.quantity}} {{item.price.measurementUnit.unit}}</span>
                        <product-fees fees="feesInformationForProductsYrnMap[item.itemYrn]"></product-fees>
                    </td>
                    <td class="text-center item-quantity">{{ item.quantity }}</td>
                    <td class="text-right"><strong>{{ (item.itemPrice.amount) | currency: currencySymbol}}</strong></td>
                    <td></td>
                </tr>
            </tbody>

            <!-- mobile view -->
            <tbody class="visible-sm visible-xs checkout-item-mobile">
                <tr ng-repeat="item in cart.items track by $index">
                    <td class="img-col">
                        <a ui-sref="base.product.detail( {productId: item.product.id} )">
                            <img ng-src="{{ item && item.product.images[0].url || ''}}" class="product-img img-responsive" />
                        </a>
                    </td>
                    <td class="text-left mobile-cart-item-details">
                        {{item.product.name}} <br>
                        {{'ITEM_PRICE' | translate}}: {{item.price.effectiveAmount | currency: currencySymbol}} <span class="priceUnit" ng-if="item.price.measurementUnit">{{item.price.measurementUnit.quantity}} {{item.price.measurementUnit.unit}}</span> <br>
                        <product-fees fees="feesInformationForProductsYrnMap[item.itemYrn]"></product-fees>
                        {{'QTY' | translate}}:{{ item.quantity }} <br>
                        <strong>{{'TOTAL_PRICE' | translate}}: {{ (item.itemPrice.amount) | currency: currencySymbol}}</strong>
                    </td>
                </tr>
            </tbody>

        </table>

    </section>

    <section class="summary" ng-cloak>
        <!-- CHECKOUT-CART -->
        <div class="col-md-4">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="text-left">{{'SUBTOTAL' | translate}}</td>
                        <td class="text-right">{{cart.subTotalPrice.amount | currency: currencySymbol}}</td>
                    </tr>
                    <tr ng-if="cart.totalDiscount.amount > 0">
                        <td class="text-left">{{'DISCOUNT' | translate}}</td>
                        <td class="text-right">
                            <span class="cart-totalDiscount error">-{{cart.totalDiscount.amount | currency: currencySymbol}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">{{'SHIPPING' | translate}}</td>
                        <td class="text-right">{{ cart.shipping.fee.amount | currency: currencySymbol }}</td>
                    </tr>

                    <!-- fees display -->
                    <tr ng-if="cart.feeYrnAggregate && cart.feeYrnAggregate.total.subTotal > 0">
                        <td class="text-left">{{'FEES' | translate}}</td>
                        <td class="text-right">
                            {{ cart.feeYrnAggregate.total.subTotal | currency: currencySymbol }}
                        </td>
                    </tr>

                    <tr ng-repeat="taxLine in cart.taxAggregate.lines" ng-show="!!taxConfiguration && !taxConfiguration.included && !!cart.totalTax && taxType === 'FLATRATE'">
                        <td ng-if="taxLine.name" class="text-left">{{taxLine.name}}</td>
                        <td ng-if="!taxLine.name" class="text-left">{{'TAX' | translate}}</td>
                        <td class="text-right">
                            {{taxLine.amount | currency: currencySymbol}}
                        </td>
                    </tr>
                    <tr ng-show="calculateTax.taxCalculationApplied && taxType !== 'FLATRATE'">
                        <td class="text-left">{{'TAX' | translate}}</td>
                        <td class="text-right">
                            {{cart.totalTax.amount | currency: currencySymbol}}
                        </td>
                    </tr>
                </tbody>
                <tfoot class="order-total-details">
                    <tr>
                        <td class="text-left">{{'ORDER_TOTAL' | translate}}</td>
                        <td class="text-right">{{cart.totalPrice.amount | currency: currencySymbol}}</td>
                    <tr>
                </tfoot>
            </table>
        </div>

    </section>
    <div ui-view="editCart"></div>
</div>
