<h1>
<small class="visible-lg visible-md">{{'SIMPLE_3_STEP_CHECKOUT' | translate}}</small>
<small class="visible-xs visible-sm">{{'SIMPLE_4_STEP_CHECKOUT' | translate}}</small>
{{'SECURE_CHECKOUT' | translate}}
</h1>
<ng-form name="checkoutForm" novalidate autocomplete="on">
<ng-form name="billToForm" novalidate autocomplete="on" ng-cloak>
<div class="step step-1" ng-class="{'done': wiz.step1Done}">
    <h2> {{'STEP_1_MY_DETAILS' | translate}} <span ng-show="wiz.step1Done" class="glyphicon glyphicon-pencil"
    ng-click="editBillTo()"></span></h2>
    <div class="row step-detail">
        <div class="col-lg-6">
            <div class="form-group input-group"
                 ng-class="{'has-error': billToForm.titleAccount.$invalid && ( billToForm.titleAccount.$dirty || showPristineErrors) }">
                <span class="input-group-addon"><label class="control-label" for="titleAccount">{{'TITLE' | translate}}</label></span>
                <select class="form-control" ng-model="order.account.title" id="titleAccount" name="title">
                    <option value="Mr.">{{'MR' | translate}}</option>
                    <option value="Ms.">{{'MS' | translate}}</option>
                    <option value="Mrs.">{{'MRS' | translate}}</option>
                    <option value="Dr.">{{'DR' | translate}}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col">
            <div class="form-group input-group"
                ng-class="{'has-error': billToForm.firstNameAccount.$invalid && (billToForm.firstNameAccount.$dirty  || showPristineErrors)}">
                <span class="input-group-addon"><label class="control-label" for="firstNameAccount">{{'FIRST_NAME' | translate}}</label></span>
                <input inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"type="text" class="form-control ui-autocomplete" id="firstNameAccount" name="firstNameAccount"
                ng-model="order.account.firstName" required autocomplete="on">
            </div>
        </div>
        <div class="col-lg-6 col">
            <div class="form-group input-group"
                 ng-class="{'has-error': billToForm.middleNameAccount.$invalid && (billToForm.middleNameAccount.$dirty  || showPristineErrors)}">
                <span class="input-group-addon"><label class="control-label" for="middleNameAccount">{{'MIDDLE_NAME' | translate}}</label></span>
                <input type="text" class="form-control ui-autocomplete" id="middleNameAccount" name="middleNameAccount"
                       ng-model="order.account.middleName" autocomplete="on" placeholder="(Optional)">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group input-group"
                ng-class="{'has-error': billToForm.lastNameAccount.$invalid && (billToForm.lastNameAccount.$dirty || showPristineErrors) }">
                <span class="input-group-addon"><label class="control-label" for="lastNameAccount">{{'LAST_NAME' | translate}}</label></span>
                <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" class="form-control" id="lastNameAccount" name="lastNameAccount" ng-model="order.account.lastName"
                required autocomplete="on">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="error" ng-show="!billToForm.email.focused && billToForm.email.$invalid && billToForm.email.$dirty" style="color:red">
                <small class="help-inline has-error">
                {{'PLEASE_ENTER_VALID_EMAIL' | translate}}
                </small>
            </div>
            <div class="form-group input-group"
                ng-class="{ 'has-error': !billToForm.email.focused && billToForm.email.$invalid &&  ( billToForm.email.$dirty || showPristineErrors) }">
                <span class="input-group-addon"><label class="control-label" for="email">{{'EMAIL' | translate}}</label></span>
                <input type="email" inline-error-input
                inline-error-input-required-message="{{'REQUIRED' | translate}}" class="form-control" id="email"
                name="email" ng-model="order.account.email"
                required autocomplete="on"
                ng-focus="billToForm.email.focused=true"
                ng-blur="billToForm.email.focused=false" >
            </div>
        </div>
        <div class="col-lg-12">
            <span class="form-block-headline">{{'BILLING_ADDRESS' | translate}}</span>
        </div>
        <div class="col-lg-12" ng-if="user.isAuthenticated && (addresses.length > 1)">
            <div class="form-group">
                <button class="btn btn-default btn-lg btn-block" id="select-address-btn-1" ng-click="openAddressDialog(order.billTo)">{{'SELECT_FROM_ADDRESS_BOOK' | translate}}</button>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group input-group"
                 ng-class="{'has-error': billToForm.contactName.$invalid && (billToForm.contactName.$dirty || showPristineErrors) }">
                <span class="input-group-addon"><label class="control-label" for="contactNameBill">{{'NAME' | translate}}</label></span>
                <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" class="form-control" id="contactNameBill" name="contactName" ng-model="order.billTo.contactName"
                       required autocomplete="on" >
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group input-group"
                ng-class="{'has-error': billToForm.address1.$invalid && (billToForm.address1.$dirty || showPristineErrors) }">
                <span class="input-group-addon"><label class="control-label" for="address1Bill">{{'ADDRESS' | translate}}</label></span>
                <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" class="form-control" name="address1" id="address1Bill" ng-model="order.billTo.address1"
                required autocomplete="on">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group input-group">
                <span class="input-group-addon"><label class="control-label" for="address2Bill">{{'ADDRESS' | translate}} 2</label></span>
                <input type="text" class="form-control" placeholder="(Optional)" id="address2Bill" name="address2"
                ng-model="order.billTo.address2">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group input-group"
                ng-class="{'has-error': billToForm.country.$invalid && ( billToForm.country.$dirty || showPristineErrors) }">
                <span class="input-group-addon"><label class="control-label" for="countryBill">{{'COUNTRY' | translate}}</label></span>
                <select class="form-control" ng-model="order.billTo.country" id="countryBill" name="country" inline-error-input required>
                    <option value="USA">USA</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group input-group"
                ng-class="{'has-error': billToForm.city.$invalid && (billToForm.city.$dirty || showPristineErrors) }">
                <span class="input-group-addon"><label class="control-label" for="cityBill">{{'CITY' | translate}}</label></span>
                <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
                class="form-control" id="cityBill" name="city" required autocomplete="on"
                ng-model="order.billTo.city">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group input-group"
                ng-class="{'has-error': billToForm.state.$invalid && (billToForm.state.$dirty || showPristineErrors) }">
                <span class="input-group-addon"><label class="control-label" for="stateBill">{{'STATE' | translate}}</label></span>
                <select class="form-control" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" required ng-model="order.billTo.state" id="stateBill" name="state">
                    <option value=""></option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group input-group"
                ng-class="{'has-error': billToForm.postal.$invalid && (billToForm.postal.$dirty || showPristineErrors) }">
                <span class="input-group-addon"><label class="control-label" for="zipCodeBill">{{'ZIP' | translate}}</label></span>
                <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
                class="form-control" id="zipCodeBill" name="postal" required autocomplete="on"
                ng-model="order.billTo.zip">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group input-group">
                <span class="input-group-addon"><label class="control-label" for="contactPhoneBill">{{'CONTACT_PHONE' | translate}}</label></span>
                <input type="text" class="form-control" id="contactPhoneBill" name="contactPhone" ng-model="order.billTo.contactPhone"
                       autocomplete="on" placeholder="(Optional)">
            </div>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-primary btn-lg btn-block visible-sm visible-xs"
            ng-click="billToDone(billToForm.$valid, billToForm.$name)">{{'CONTINUE' | translate}} <span
            class="hyicon hyicon-chevron-thin-right"></span></button>
        </div>
    </div>
</div>
</ng-form>
<ng-form name="shipToForm" novalidate autocomplete="on" ng-cloak>
<div class="step step-2" ng-class="{'disabled' : !wiz.step1Done, 'done': wiz.step2Done}">
    <a id="step2">
        <h2> {{'STEP_2_SHIPPING_INFORMATION' | translate}} <span ng-show="wiz.step2Done" class="glyphicon glyphicon-pencil" ng-click="editBillTo()"></span></h2>
    </a>
    <div class="row step-detail">
        <div class="col-lg-12">
            <span class="form-block-headline">{{'SHIPPING_ADDRESS' | translate}}</span>
        </div>
        <div class="col-lg-12" ng-if="user.isAuthenticated && (addresses.length > 1)">
            <div class="form-group">
                <button class="btn btn-default btn-lg btn-block" id="select-address-btn-2" ng-click="openAddressDialog(order.shipTo)">{{'SELECT_FROM_ADDRESS_BOOK' | translate}}</button>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="shipTo" ng-model="wiz.shipToSameAsBillTo" ng-change="toggleShipToSameAsBillTo()">
                    <span class="option">{{'SAME_AS_BILLING_ADDRESS' | translate}}</span>
                    <span class="adress" ng-show="wiz.shipToSameAsBillTo">{{ order.billTo.address1 }}</span>
                </label>
            </div>
        </div>
        <div id="ship-to-fields" ng-hide="wiz.shipToSameAsBillTo">
            <div class="col-lg-12">
                <div class="form-group input-group"
                     ng-class="{'has-error': !wiz.shipToSameAsBillTo && shipToForm.contactName.$invalid && (shipToForm.contactName.$dirty || showPristineErrors) }">
                    <span class="input-group-addon"><label class="control-label" for="contactNameShip">{{'NAME' | translate}}</label></span>
                    <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" class="form-control" id="contactNameShip" name="contactName" ng-model="order.shipTo.contactName"
                           ng-required="!wiz.shipToSameAsBillTo" autocomplete="on">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group input-group"
                    ng-class="{'has-error': shipToForm.address1.$invalid && (shipToForm.address1.$dirty || showPristineErrors) }">
                    <span class="input-group-addon"><label class="control-label" for="address1Ship">{{'ADDRESS' | translate}}</label></span>
                    <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" class="form-control" name="address1" id="address1Ship" ng-model="order.shipTo.address1"
                    ng-required="!wiz.shipToSameAsBillTo" autocomplete="on">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group input-group">
                    <span class="input-group-addon"><label class="control-label" for="address2Ship">{{'ADDRESS' | translate}} 2</label></span>
                    <input type="text" class="form-control" placeholder="(Optional)" id="address2Ship" name="address2"
                    ng-model="order.shipTo.address2" autocomplete="on">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group input-group"
                    ng-class="{'has-error': shipToForm.country.$invalid && (shipToForm.country.$dirty || showPristineErrors) }">
                    <span class="input-group-addon"><label class="control-label" for="countryShip">{{'COUNTRY' | translate}}</label></span>
                    <select class="form-control" inline-error-input ng-model="order.shipTo.country" name="country" id="countryShip" ng-required="!wiz.shipToSameAsBillTo" autocomplete="on">
                        <option>USA</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group input-group"
                    ng-class="{'has-error': shipToForm.city.$invalid && (shipToForm.city.$dirty || showPristineErrors) }">
                    <span class="input-group-addon"><label class="control-label" for="cityShip">{{'CITY' | translate}}</label></span>
                    <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" class="form-control" id="cityShip" name="city" ng-required="!wiz.shipToSameAsBillTo" ng-model="order.shipTo.city" autocomplete="on">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group input-group"
                    ng-class="{'has-error': shipToForm.state.$invalid && (shipToForm.state.$dirty || showPristineErrors) }">
                    <span class="input-group-addon"><label class="control-label" for="stateShip">{{'STATE' | translate}}</label></span>
                    <select class="form-control" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" ng-required="!wiz.shipToSameAsBillTo" ng-model="order.shipTo.state" id="stateShip" name="state">
                        <option value=""></option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group input-group"
                    ng-class="{'has-error': shipToForm.postal.$invalid && ( shipToForm.postal.$dirty || showPristineErrors) }">
                    <span class="input-group-addon"><label class="control-label" for="zipCodeShip">{{'ZIP' | translate}}</label></span>
                    <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" class="form-control" ng-model="order.shipTo.zip" name="postal" id="zipCodeShip" autocomplete="on" ng-required="!wiz.shipToSameAsBillTo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <span class="input-group-addon"><label class="control-label" for="contactPhoneShip">{{'CONTACT_PHONE' | translate}}</label></span>
                    <input type="text" class="form-control" ng-model="order.shipTo.contactPhone" name="postal" id="contactPhoneShip" autocomplete="on" placeholder="(Optional)">
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <span class="form-block-headline">{{'DELIVERY_METHOD' | translate}}</span>
        </div>
        <div class="col-lg-12">
            <div class="form-group input-group">
                <span class="input-group-addon"><label class="control-label" for="shipMethod">{{'METHOD' | translate}}</label></span>
                <select class="form-control" name="shipMethod" id="shipMethod">
                    <option ng-if="order.shippingCost <= 0">{{'FREE_STANDARD_SHIPPING' | translate}} - {{order.shippingCost | currency : order.shippingCurrencySymbol + ' '}}</option>
                    <option ng-if="order.shippingCost > 0">{{'FLAT_RATE_SHPPING' | translate}} - {{order.shippingCost | currency : order.shippingCurrencySymbol + ' '}}</option>
                </select>
            </div>
        </div>
    </form>
    <div class="col-lg-12">
        <button class="btn btn-primary btn-lg btn-block visible-sm visible-xs" ng-click="shipToDone(shipToForm.$valid, shipToForm.$name)">{{'CONTINUE' | translate}} <span
        class="hyicon hyicon-chevron-thin-right"></span></button>
    </div>
</div>
</div>
</ng-form>
<ng-form name="paymentForm" novalidate autocomplete="on" ng-cloak>
<div class="step step-3" ng-class="{'disabled' : !wiz.step2Done, 'done': wiz.step3Done}">
<a id="step3">
    <h2>{{'STEP_3_PAYMENT' | translate}} <span ng-show="wiz.step3Done" class="glyphicon glyphicon-pencil"
    ng-click="editPayment()"></span></h2>
</a>
<div class="row step-detail">
    <div class="col-lg-12">
        <span class="form-block-headline">{{'PAYMENT' | translate}}</span>
    </div>
    <div class="cc-details" >
        <div class="col-lg-12">
            <div class="form-group input-group">
                <img src="img/creditcard.png" alt="creditcard"/>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="error" ng-show="!paymentForm.ccNumber.focused && (paymentForm.ccNumber.msg
                || (paymentForm.ccNumber.$invalid && paymentForm.ccNumber.$dirty))" style="color:red">
                <small class="help-inline has-error">
                {{paymentForm.ccNumber.msg ? paymentForm.ccNumber.msg : 'PLEASE_ENTER_VALID_CC' | translate}}
                </small>
            </div>
            <!--<input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" class="form-control" ng-model="order.shipTo.zip" name="postal" id="zipCodeShip" autocomplete="on" ng-required="!wiz.shipToSameAsBillTo">-->
            <div class="form-group input-group" ng-class="{'has-error': !paymentForm.ccNumber.focused &&
                (paymentForm.ccNumber.$invalid && ( paymentForm.ccNumber.$dirty || showPristineErrors)) }">
                <span class="input-group-addon"><label class="control-label" for="ccNumber">{{'CREDIT_CARD_NUMBER' | translate}}</label></span><!-- validate-card-number-->
                <input type="text" class="form-control" name="ccNumber" id="ccNumber"
                       ng-model="order.creditCard.number" inline-error-input validate-card-number ng-required="order.paymentMethod === 'creditCard'"
                inline-error-input-required-message="{{'REQUIRED' | translate}}"
                ng-focus="paymentForm.ccNumber.focused=true"
                ng-blur="paymentForm.ccNumber.focused=false"
                ng-change="paymentForm.ccNumber.msg && resetErrorMsg(paymentForm.ccNumber)"
                >
            </div>
        </div>
        <div class="col-lg-12" ng-if="paymentForm.expDateMsg">
            <div class="error" ng-show="paymentForm.expDateMsg" style="color:red">
                <small class="help-inline has-error">
                {{paymentForm.expDateMsg}}
                </small>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group input-group" ng-class="{'has-error': paymentForm.expMonth.$invalid && ( paymentForm.expMonth.$dirty || showPristineErrors) }">
                <span class="input-group-addon"><label class="control-label" for="expMonth">{{'MONTH' | translate}}</label></span>
                <select class="form-control" ng-required="order.paymentMethod === 'creditCard'" name="expMonth" id="expMonth"
                    ng-model="order.creditCard.expMonth" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
                    ng-options="month for month in wiz.months" ng-change="paymentForm.expDateMsg && resetExpDateErrors()">
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group input-group" ng-class="{'has-error': paymentForm.expYear.$invalid && ( paymentForm.expYear.$dirty || showPristineErrors) }">
                <span class="input-group-addon"><label class="control-label" for="expYear">{{'YEAR' | translate}}</label></span>
                <select class="form-control" ng-required="order.paymentMethod === 'creditCard'"  name="expYear" id="expYear"
                    ng-model="order.creditCard.expYear" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" data-stripe="expYear"
                    ng-options="year for year in wiz.years" ng-change="paymentForm.expDateMsg && resetExpDateErrors()">
                </select>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="error" ng-show="!paymentForm.cvc.focused && (paymentForm.cvc.msg
                || (paymentForm.cvc.$invalid && paymentForm.cvc.$dirty))" style="color:red">
                <small class="help-inline has-error">
                {{paymentForm.cvc.msg ? paymentForm.cvc.msg : 'PLEASE_ENTER_VALID_CODE' | translate}}
                </small>
            </div>
            <div class="form-group input-group" ng-class="{'has-error': paymentForm.cvc.$invalid
                && !paymentForm.cvc.focused && (paymentForm.cvc.$dirty || showPristineErrors) }">
                <span class="input-group-addon"><label class="control-label" for="cvc">{{'CVC_NUMBER' | translate}}</label></span>
                <input type="text" class="form-control" name="cvc" id="cvc" ng-required="order.paymentMethod === 'creditCard'"
                       inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" ng-model="order.creditCard.cvc" validate-cvc
                ng-focus="paymentForm.cvc.focused=true" ng-blur="paymentForm.cvc.focused=false"
                ng-change="paymentForm.cvc.msg && resetErrorMsg(paymentForm.cvc)">
            </div>
        </div>
        <div class="col-xs-3">
            <img src="img/cvv.png" alt=""/>
        </div>
    </div>
    <div class="col-xs-12">
        <button class="btn btn-primary btn-lg btn-block visible-sm visible-xs" ng-click="paymentDone(paymentForm.$valid, paymentForm.$name)" type="submit">{{'CONTINUE' | translate}} <span
        class="hyicon hyicon-chevron-thin-right"></span></button>
    </div>
</div>
</div>
</ng-form>
<div class="step step-4 confirm" ng-class="{'disabled' : !wiz.step3Done}" ng-cloak>
<a id="step4">
    <h2 class="visible-sm visible-xs">{{'STEP_4_REVIEW_ORDER' | translate}}</h2>
</a>
<div class="error" ng-if="message" style="color:red">
    <small class="help-inline has-error">
    {{message | translate}}
    </small>
</div>

    
<div class="row step-detail" ng-class="{'has-error': message }">
    <div class="hidden-lg" ui-view="checkoutcartmobile"></div>
    <!--<div class="hidden-lg" ng-include="'./js/app/checkout/templates/checkout-cart.html'"></div>-->
    <div class="col-xs-6 hidden-sm hidden-xs">
        <span class="description">{{'TOTAL' | translate}}</span>
    </div>
    <div class="col-xs-6 text-right hidden-sm hidden-xs">
        <span class="value">{{cart.totalPrice.value | currency: currencySymbol}}</span>
    </div>
    <div class="col-xs-12">
        <button class="btn btn-primary btn-lg btn-block" type="submit" id="place-order-btn"
        ng-click="placeOrder(checkoutForm.$valid, checkoutForm.$name)" ng-disabled="submitIsDisabled">{{'PLACE_ORDER' | translate}}
        </button>
    </div>
</div>
</div>
</ng-form>