<div class="checkout">
<div class="row section">
<div class="col-sm-7 col-md-7 steps">
<h1>
    <small>Simple 3 Step Checkout</small>
    secure checkout
</h1>

<div class="step step-1 done">
    <h2> Step 1. My Details <span class="glyphicon glyphicon-pencil"></span></h2>

    <div class="row step-detail">

        <form role="form" name="checkoutForm" novalidate ng-submit="placeOrder()">
            <div class="col-lg-6 col">
                <div class="form-group input-group"
                     ng-class="{'has-error': checkoutForm.billFirstName.$dirty && checkoutForm.billFirstName.$invalid}">
                    <span class="input-group-addon"><label class="control-label" for="firstname">First
                        Name</label></span>
                    <input type="text" class="form-control" id="firstname" name="billFirstName"
                           ng-model="billTo.firstName" required>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group input-group"
                     ng-class="{'has-error': checkoutForm.billLastName.$dirty && checkoutForm.billLastName.$invalid}">
                    <span class="input-group-addon"><label class="control-label" for="">Last Name</label></span>
                    <input type="text" class="form-control" name="billLastName" ng-model="billTo.lastName" required>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group input-group"
                     ng-class="{'has-error': checkoutForm.billEmail.$dirty && checkoutForm.billEmail.$invalid}">
                    <span class="input-group-addon"><label class="control-label" for="">Email</label></span>
                    <input type="email" type="email" class="form-control" value="" name="billEmail"
                           ng-model="billTo.email" required>
                </div>
            </div>

            <div class="col-lg-12">
                <span class="form-block-headline">Billing Address</span>
            </div>

            <div class="col-lg-6">
                <div class="form-group input-group"
                     ng-class="{'has-error': checkoutForm.billAddress1.$dirty && checkoutForm.billAddress1.$invalid}">
                    <span class="input-group-addon"><label class="control-label" for="">Address</label></span>
                    <input type="text" class="form-control" name="billAddress1" ng-model="billTo.address1" required>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group input-group">
                    <span class="input-group-addon"><label class="control-label" for="">Address 2</label></span>
                    <input type="text" class="form-control" placeholder="(Optional)" name="billAddress2" ng-model="billTo.address2">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group input-group"
                     ng-class="{'has-error': checkoutForm.billCountry.$dirty && checkoutForm.billCountry.$invalid}">
                    <span class="input-group-addon"><label class="control-label" for="">Country</label></span>
                    <select class="form-control" ng-model="billTo.country" required>
                        <option>USA</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group input-group"
                     ng-class="{'has-error': checkoutForm.billCity.$dirty && checkoutForm.billCity.$invalid}">
                    <span class="input-group-addon"><label class="control-label" for="">City</label></span>
                    <input type="text" class="form-control" placeholder="" name="billCountry" required ng-model="billTo.city">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group input-group"
                     ng-class="{'has-error': checkoutForm.billState.$dirty && checkoutForm.billState.$invalid}">
                    <span class="input-group-addon"><label class="control-label" for="">State</label></span>
                    <select class="form-control" required ng-model="billTo.state">
                        <option>Illinois</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group input-group"
                     ng-class="{'has-error': checkoutForm.billPostal.$dirty && checkoutForm.billPostal.$invalid}">
                    <span class="input-group-addon"><label class="control-label" for="">ZIP Code</label></span>
                    <input type="text" class="form-control" placeholder="" ng-model="billTo.zip" required>
                </div>
            </div>
        </form>
        <div class="col-lg-12">
            <button class="btn btn-primary btn-lg btn-block visible-sm visible-xs">continue <span
                    class="hyicon hyicon-chevron-thin-right"></span></button>
        </div>
    </div>
</div>


<div class="step step-2">
    <h2> Step 2. Shipping Information</h2>

    <div class="row step-detail">
        <form role="form">

            <div class="col-lg-12">
                <span class="form-block-headline">Shipping Address</span>
            </div>

            <div class="col-lg-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="option1">
                        <span class="option">same as billing address</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group input-group"
                     ng-class="{'has-error': checkoutForm.shipAddress1.$dirty && checkoutForm.shipAddress1.$invalid}">
                    <span class="input-group-addon"><label class="control-label" for="">Address</label></span>
                    <input type="text" class="form-control" name="shipAddress1" ng-model="shipTo.address1" required>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group input-group">
                    <span class="input-group-addon"><label class="control-label" for="">Address 2</label></span>
                    <input type="text" class="form-control" placeholder="(Optional)" name="shipAddress2" ng-model="shipTo.address2">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group input-group"
                     ng-class="{'has-error': checkoutForm.shipCountry.$dirty && checkoutForm.shipCountry.$invalid}">
                    <span class="input-group-addon"><label class="control-label" for="">Country</label></span>
                    <select class="form-control" ng-model="shipTo.country" required>
                        <option>USA</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group input-group"
                     ng-class="{'has-error': checkoutForm.shipCity.$dirty && checkoutForm.shipCity.$invalid}">
                    <span class="input-group-addon"><label class="control-label" for="">City</label></span>
                    <input type="text" class="form-control" placeholder="" name="shipCountry" required ng-model="shipTo.city">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group input-group"
                     ng-class="{'has-error': checkoutForm.shipState.$dirty && checkoutForm.shipState.$invalid}">
                    <span class="input-group-addon"><label class="control-label" for="">State</label></span>
                    <select class="form-control" required ng-model="shipTo.state">
                        <option>Illinois</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group input-group"
                     ng-class="{'has-error': checkoutForm.shipPostal.$dirty && checkoutForm.shipPostal.$invalid}">
                    <span class="input-group-addon"><label class="control-label" for="">ZIP Code</label></span>
                    <input type="text" class="form-control" placeholder="" ng-model="shipTo.zip" required>
                </div>
            </div>
        </form>

            <div class="col-lg-12">
                <span class="form-block-headline">Delivery Method</span>
            </div>
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <span class="input-group-addon"><label class="control-label" for="">Method</label></span>
                    <select class="form-control">
                        <option>Flat Rate - $3.00</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="col-lg-12">
            <button class="btn btn-primary btn-lg btn-block visible-sm visible-xs">continue <span
                    class="hyicon hyicon-chevron-thin-right"></span></button>
        </div>
    </div>

</div>
<div class="step step-3 disabled">
    <h2>Step 3. Payment</h2>

    <div class="row step-detail">
        <form role="form">

            <div class="col-lg-12">
                <span class="form-block-headline">Payment</span>
            </div>
            <div class="col-lg-12">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" value="option1">
                        <img src="img/paypal.png" alt="paypal"/>
                    </label>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" value="option2" checked>
                        <img src="img/creditcard.png" alt="creditcard"/>
                    </label>

                </div>
            </div>


            <div class="col-lg-12">
                <div class="form-group input-group">
                    <span class="input-group-addon"><label class="control-label" for="">Credit Card
                        Number</label></span>
                    <input type="text" class="form-control" placeholder="(Optional)">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group input-group">
                    <span class="input-group-addon"><label class="control-label" for="">Month</label></span>
                    <select class="form-control">
                        <option>illinois</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group input-group">
                    <span class="input-group-addon"><label class="control-label" for="">Year</label></span>
                    <select class="form-control">
                        <option>illinois</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="form-group input-group">
                    <span class="input-group-addon"><label class="control-label" for="">CVV Number</label></span>
                    <input type="text" class="form-control" placeholder="(Optional)">
                </div>

            </div>
            <div class="col-xs-3">
                <img src="img/cvv.png" alt=""/>
            </div>
        </form>
        <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block visible-sm visible-xs">continue <span
                    class="hyicon hyicon-chevron-thin-right"></span></button>
        </div>
    </div>
</div>

<div class="step step-4 confirm disabled">
    <h2 class="visible-sm visible-xs">Step 4. Review & Payment</h2>

    <div class="row step-detail">
        <div class="col-xs-6">
            <span class="description">TOTAL</span>
        </div>
        <div class="col-xs-6 text-right">
            <span class="value">$180.90</span>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block" type="submit" id="place-order-btn"
                    ng-disabled="checkoutForm.$invalid">Place Order
            </button>
        </div>
    </div>
</div>

</div>
<div class="col-md-5 col-sm-5 order-detail">
    <h2>Order Details</h2>
    <section class="excerpt‎">
        <div class="pull-left">{{itemCount}} Items</div>
        <div class="pull-right">total: {{subtotal + estTax | currency: '$'}}</div>
    </section>
    <section>
        <div ng-repeat="product in cart track by $index">
            <div class="cart-item row">
                <div class="col-xs-4 col-md-4 text-center img-col">
                    <img src="{{product.imageUrl}}" class="img-responsive"/>
                    <button ng-click="removeProductFromCart(product.sku)" class="btn delete btn-link"><span class="hyicon hyicon-remove"></span></button>
                </div>
                <div class="col-xs-8 col-md-8  detail-col">
                    <button ng-click="removeProductFromCart(product.sku)" class="btn delete btn-link"><span class="hyicon hyicon-remove"></span></button>
                    <div class="name">{{product.name}}</div>
                    <div class="price item-attr">Item Price: <span> {{product.price | currency: '$'}}</span> </div>
                    <div class="variants row item-attr">
                        <div class="variant col-md-6 ">Color: <span>Stone</span></div>
                        <div class="variant col-md-6 ">Size: <span>30 ml</span></div>
                        <div class="variant col-md-6 ">Qty: <span>1</span></div>
                    </div>
                    <div class="price-total item-attr">Total Price: <span>{{product.price * product.quantity | currency: '$'}}</span></div>
                </div>
            </div>
        </div>
    </section>
    <section class="summary">
        <table class="table">
            <tbody>
            <tr>
                <td>Subtotal</td>
                <td class="text-right">{{subtotal | currency: '$'}}</td>
            </tr>
            <tr>
                <td>shipping</td>
                <td class="text-right">Free</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td class="text-right">{{estTax | currency: '$'}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>order total</td>
                <td class="text-right">{{subtotal + estTax | currency: '$'}}</td>
            <tr>
            </tfoot>
        </table>
    </section>
</div>
</div>
</div>
