<h2>{{ORDER_DETAILS | translate}}</h2>
<section class="excerpt‎">
    <div class="pull-left">{{cart.totalUnitsCount}} {{'ITEMS' | translate}}</div>
    <div class="pull-right">{{'TOTAL' | translate}}: {{cart.subTotalPrice.value+ shippingCost.price.price | currency: '$'}}</div>
</section>
<section>
    <div ng-repeat="item in cart.items track by $index">
        <div class="cart-item row">
            <div class="col-xs-4 col-md-4 text-center img-col">
                <img ng-src="{{ item && item.product.images[0].url || ''}}" class="img-responsive"/>

            </div>
            <div class="col-xs-8 col-md-8  detail-col">

                <div class="name">{{item.product.name}}</div>
                <div class="price item-attr">{{'ITEM_PRICE' | translate}}: <span> {{item.unitPrice.value | currency: '$'}}</span></div>
                <div class="variants row item-attr">
                    <div class="variant col-md-6 ">{{'QTY' | translate}}: <span>{{ item.quantity }}</span></div>
                </div>
                <div class="price-total item-attr">{{'TOTAL_PRICE' | translate}}: <span>{{ (item.unitPrice.value * item.quantity) | currency: '$'}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="summary">
    <table class="table">
        <tbody>
        <tr>
            <td>{{'SUBTOTAL' | translate}}</td>
            <td class="text-right">{{cart.subTotalPrice.value | currency: '$'}}</td>
        </tr>
        <tr>
            <td>{{'SHIPPING' | translate}}</td>
            <td class="text-right">{{ shippingCost.price.price | currency: '$' }}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>{{'ORDER_TOTAL' | translate}}</td>
            <td class="text-right">{{cart.totalPrice.value | currency: '$'}}</td>
        <tr>
        </tfoot>
    </table>
</section>
