<div ng-repeat="option in options">
    <div class="row">
        <div class="col-xs-3">
            <label class="control-label">{{option.attributeKey}}</label>
        </div>

        <div class="col-xs-9">
            <ui-select ng-model="optionsSelected[$index]" on-select="resolveActiveVariantAndUpdateOptions()">
                <ui-select-match allow-clear="true" ng-click="omitSelectionAndUpdateOptions($index)">
                    {{$select.selected.value}}
                </ui-select-match>
                <ui-select-choices repeat="attribute in option.attributes" ui-disable-choice="attribute.disabled">
                    {{attribute.value}}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <br/>
</div>