<!--<script src="https://apis.google.com/js/client:platform.js" async defer></script>-->
<section class="row" id="fb-root">

    <section ng-init="fbParse()">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <div id="intercept" style="opacity: 1; position:relative; z-index: 999" ng-click="fbLogin()">
                <fb:login-button id="fb-login-button" scope="public_profile,email" size="xlarge" style="position:relative; z-index: -1">
                </fb:login-button>

                </div>

            </li>
            <li>
                <div ng-app="directive.g+signin">
                    <google-plus-signin clientid="{{googleClientId}}"></google-plus-signin>
                </div>
            <!--
            <span id="signinButton">
  <span
          class="g-signin"
          data-callback="signinCallback"
          data-clientid="566749370288-git5emebgh3to7p1gscq2j9etsvmds4i.apps.googleusercontent.com"
          data-cookiepolicy="single_host_origin"
          data-requestvisibleactions="http://schema.org/AddAction"
          data-scope="https://www.googleapis.com/auth/plus.login">
  </span>
</span>-->
            </li>
        </ul>
       
        <br>

        <div>

        <!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
		  <li class="active"><a href="#signin" role="tab" data-toggle="tab">{{'SIGN_IN' | translate}}</a></li>
		  <li><a href="#signup" role="tab" data-toggle="tab">{{'CREATE_ACCOUNT' | translate}}</a></li>
		</ul><br>

		<div class="tab-content">
		  <div class="tab-pane active" id="signin">
		  	<div ng-include="'./js/app/auth/templates/signin.html'"></div>
		  </div>
		  <div class="tab-pane" id="signup">
		  	<div ng-include="'./js/app/auth/templates/signup.html'"></div>
		  </div>
		</div>

		<div class="continue-as-guest-section" ng-if="'base.checkout.details' | isState">
			<hr>
			<a href="" ng-click="continueAsGuest()" class="btn btn-primary btn-lg btn-block">{{'CONTINUE_AS_GUEST' | translate}}</a>
		</div>

	</section>

</section>


