<!-- close modal -->
<div class="closeModalButton">
    <div class="glyphicon glyphicon-remove popoverCloseBtn pull-right" aria-hidden="true" ng-click="closeDialog()"></div>
</div>

<section stop-event="touchend">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs signInTabs text-center" role="tablist">
      <li class="active signInButton"><a href="#signin" role="tab" data-toggle="tab">{{'SIGN_IN' | translate}}</a></li>
      <li><a id="create-account" href="#signup" role="tab" data-toggle="tab">{{'CREATE_ACCOUNT' | translate}}</a></li>
    </ul>

    <!-- clear row -->
    <div class="clr"><!-- --></div>

    <!-- tab content -->
    <div class="tab-content">

      <div class="tab-pane active" id="signin" >

        <p class="error" ng-show="!cookiesEnabled">{{'COOKIES_ENABLED_ERROR' | translate}}</p>

        <!-- sign in form -->
        <div ng-include="'js/app/auth/templates/signin.html'" ></div>

        <!-- fb and google login opions -->
        <div ng-if="(fbAppId || googleClientId) && cookiesEnabled">

          <div class="row">

            <!-- fb login button -->
            <div class="col-md-6 col-xs-6">
              <div class="socialMediaSigninContainer ">
                <div ng-if="fbAppId" ng-click="fbLogin()">
                    <div class="fbLogin">
                      <div class="fbsignInLabel">{{'SIGN_IN_WITH_FACEBOOK' | translate}}</div>
                    </div>
                </div>
              </div>              
            </div>

            <!-- google login button -->
            <div class="col-md-6 col-xs-6">
              <div class="socialMediaSigninContainer">
                <div ng-if="googleClientId"  class="googlePlusLogin">
                  <div class="googleSignIn" ng-click="googleLogin()">
                    <div class="googleSignInLabel">{{'LOG_IN_WITH_GOOGLE' | translate}}</div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
      
      <!-- sign up form -->
      <div class="tab-pane" id="signup" >
        <p class="error" ng-show="showCreateAccountErrMsg">{{'CREATE_ACCOUNT_ERROR' | translate}}</p>
        <div ng-include="'js/app/auth/templates/signup.html'"></div>
      </div>
    </div>

    <!-- checkout as guest -->
    <div class="continue-as-guest-section" ng-if="showAsGuest">

      <!-- seperator -->
      <div class="seperatorLine">
        <p class="subtitle lineContainer"><span>Or</span></p>
      </div>

      <!-- button -->
      <a id="guest-continue" href="" ng-click="continueAsGuest()" class="btn btn-primary btn-lg btn-block">{{'CONTINUE_AS_GUEST' | translate}}</a>

    </div>

</section>
