<section>
    <div class="row">
        <div class="col-sm-push-3 col-sm-5">
            <div class="page-header">
                <h1>{{'RESET_PW_TITLE' | translate}}</h1>
            </div>
            <form name="changePwForm" novalidate>
                <div class="form-group input-group"
                     ng-class="{'has-error': changePwForm.password.$touched && changePwForm.password.$invalid &&  changePwForm.password.$dirty}">

                    <span class="input-group-addon">
                        <label class="control-label" for="passwordInput">
                            {{'NEW_PASSWORD' | translate}}
                        </label>
                    </span>
                    <input builder-input="password" type="password" class="form-control" id="passwordInput" name="password" placeholder="{{'PASSWORD_MINCHAR'| translate}}"
                           ng-model="password" required min="6" ng-minlength="6">
                </div>
                <div class="text-danger list-unstyled" ng-show="changePwForm.password.$touched && changePwForm.password.$invalid && changePwForm.password.$dirty">
                    <small class="help-inline has-error">
                        <span class="error">{{'PASSWORD_REQUIRED' | translate}}</span>
                    </small>
                </div>

                <div class="form-group input-group"
                     ng-class="{'has-error': changePwForm.confirmPassword.$touched && changePwForm.confirmPassword.$invalid &&  changePwForm.confirmPassword.$dirty}">

                    <span class="input-group-addon">
                        <label class="control-label" for="passwordInputRepeat">
                            {{'CONFIRM_NEW_PASSWORD' | translate}}
                        </label>
                    </span>
                    <input builder-input="password" type="password" class="form-control" id="passwordInputRepeat" name="confirmPassword"
                           ng-model="passwordRepeat" confirm-input="passwordInput" required>
                </div>
                <div class="text-danger list-unstyled" ng-show="changePwForm.confirmPassword.$touched && changePwForm.confirmPassword.$invalid && changePwForm.confirmPassword.$dirty">
                    <small class="help-inline has-error">
                        {{'PASSWORDS_MUST_MATCH' | translate}}
                    </small>
                </div>


                <div class="text-danger list-unstyled" ng-show="error.message">

                    <small class="help-inline has-error">
                        {{ error.message | translate}}  {{error.details || ''}}
                    </small>
                </div>
                <button ng-click="showAllErrors() && changePwForm.$valid && changePassword(token, password)" type="submit"
                        class="btn btn-primary btn-lg btn-block" ng-disabled="submitDisabled || changePwForm.$invalid">
                    {{'RESET_PASSWORD' | translate }}
                </button>
                <br>
                <a ng-show="showRetryLink" ng-click="showRequestPasswordReset()" class="forgot-password-btn">{{'RESET_PW_REPEAT' | translate }}</a>
            </form>
        </div>
    </div>
</section>


