<section>

	<div class="page-header">
	<h2>Forgot your password?</h2>
	<p>Please enter your account email address below.  An email will be sent to you with a link to reset your password.</p>
	</div>
	<form>
	    <div class="form-group input-group">
          <span class="input-group-addon"><label class="control-label" for="email">{{'EMAIL' | translate}}</label></span>
          <input type="email" class="form-control" id="usernameInput" placeholder="Enter email" name="username" required>
	    </div>

	  <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>

	</form>

	
</section>
