<div class="page-header">
<h2>Reset Your Password</h2>
<p>Please create a new password.</p>
</div>
<form>
    <div class="form-group input-group" >

                    <span class="input-group-addon"><label class="control-label" for="passwordInput">{{'Password' | translate}}</label></span>
                    <input  type="password" class="form-control" id="passwordInput" placeholder="Password" name="password" ng-model="user.signin.password" required>
    </div>
    <div class="form-group input-group" >

                    <span class="input-group-addon"><label class="control-label" for="passwordInputRepeat">{{'Confirm Password' | translate}}</label></span>
                    <input  type="password" class="form-control" id="passwordInputRepeat" placeholder="Password" name="password" ng-model="user.signin.password" required>
    </div>

  <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>

</form>



