<!-- Modal -->
<form name="passwordUpdateForm" novalidate>
  <div class="modal-header">
    <a class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
    <h4 class="modal-title" id="myModalLabel">{{'UPDATE_PASSWORD' | translate}}</h4>
  </div>
  <div class="modal-body">
      <div class="form-group input-group">
          <span class="input-group-addon"><label class="control-label" for="currentPassword">{{'CURRENT_PASSWORD' | translate}}</label></span>
          <input type="password" class="form-control ui-autocomplete" id="currentPassword" name="currentPassword"
                 ng-model="passwordModel.currentPassword" />
      </div>
      <div class="form-group input-group"
           ng-class="{'has-error': passwordUpdateForm.newPassword.$touched &&  passwordUpdateForm.newPassword.$invalid && passwordUpdateForm.newPassword.$dirty}">
          <span class="input-group-addon"><label class="control-label" for="newPassword">{{'NEW_PASSWORD' | translate}}</label></span>
          <input type="password" class="form-control ui-autocomplete" id="newPassword" name="newPassword"
                 ng-model="passwordModel.newPassword" required ng-minlength="6"
                 placeholder="{{'PASSWORD_MINCHAR'| translate}}" />
      </div>
      <div class="text-danger list-unstyled" ng-show="passwordUpdateForm.newPassword.$touched &&  passwordUpdateForm.newPassword.$invalid && passwordUpdateForm.newPassword.$dirty">
          <small ng-if="!passwordModel.newPassword || passwordModel.newPassword == ''" class="help-inline has-error">
              {{'FIELD_REQUIRED' | translate}}
          </small>
          <small ng-if="!passwordModel.newPassword || passwordModel.newPassword.length < 6" class="help-inline has-error">
              {{'PASSWORD_TOO_SHORT' | translate}}
          </small>
      </div>


      <div class="form-group input-group"
           ng-class="{'has-error': passwordUpdateForm.confirmNewPassword.$touched && passwordUpdateForm.confirmNewPassword.$invalid && passwordUpdateForm.confirmNewPassword.$dirty}">
          <span class="input-group-addon"><label class="control-label" for="confirmNewPassword">{{'CONFIRM_NEW_PASSWORD' | translate}}</label></span>
          <input type="password" class="form-control ui-autocomplete" id="confirmNewPassword" name="confirmNewPassword" ng-model="passwordModel.confirmNewPassword" required ng-minlength="6" />
      </div>
      <div class="text-danger list-unstyled" ng-show=" passwordUpdateForm.confirmNewPassword.$touched && passwordUpdateForm.confirmNewPassword.$invalid && passwordUpdateForm.confirmNewPassword.$dirty">
          <small ng-if="passwordModel.newPassword != passwordModel.confirmNewPassword" class="help-inline has-error">
              {{'PASSWORDS_NO_MATCH' | translate}}
          </small>
          <small ng-if="passwordModel.confirmNewPassword || passwordModel.confirmNewPassword.length < 6" class="help-inline has-error">
              {{'PASSWORD_TOO_SHORT' | translate}}
          </small>
      </div>

      <!-- Errors -->
      <ul ng-if="errors && errors.length" class="list-unstyled text-danger">
          <li ng-repeat="error in errors">{{error.message | translate}}</li>
      </ul>
  </div>
  <div class="modal-footer">
    <button type="submit" ng-click="updatePassword(passwordModel.currentPassword, passwordModel.newPassword)" id="update-password-btn"
            class="btn btn-warning btn-lg btn-block" ng-disabled="passwordUpdateForm.$invalid || submitDisabled">{{'SAVE'|translate}}</button>
  </div>
</form>