<section class="resetPasswordModal">
	<div class="page-header">
        <div class="glyphicon glyphicon-remove pull-right hidden-lg hidden-md" aria-hidden="true" ng-click="closeDialog()"></div>
        <h3>{{ title | translate}}</h3>
        <p>{{ instructions | translate}}</p>
	</div>
	<form name="resetPwForm" novalidate>
	    <div class="form-group input-group" ng-class="{'has-error': resetPwForm.password.$invalid &&  resetPwForm.password.$dirty}">
          <span class="input-group-addon"><label class="control-label" for="usernameInput">{{'ACCOUNT_EMAIL' | translate}}</label></span>
            <input builder-input="email" type="email" class="form-control" id="usernameInput" ng-model="email"
                   name="username" required ng-keydown="clearErrors()">
	    </div>
        <div class="error" ng-show="message" >
            <small class="help-inline has-error">
                <span class="error">{{ message | translate }}</span>
            </small>
        </div>
	  <button ng-click="requestPasswordReset(email)" type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="resetPwForm.$invalid">
          {{'RESET_PASSWORD' | translate}}</button>
	</form>
</section>
