<div class="page-header">
    <h2>{{'RESET_PW_TITLE' | translate}}</h2>

    <p></p>
</div>
<form>
    <div class="form-group input-group">

        <span class="input-group-addon"><label class="control-label" for="passwordInput">{{'PASSWORD' |
            translate}}</label></span>
        <input type="password" class="form-control" id="passwordInput" name="password"
               ng-model="password" required>
    </div>
    <div class="form-group input-group">

        <span class="input-group-addon"><label class="control-label" for="passwordInputRepeat">{{'CONFIRM_PASSWORD' |
            translate}}</label></span>
        <input type="password" class="form-control" id="passwordInputRepeat" name="confirmPassword"
               ng-model="passwordRepeat" required>
    </div>
    <div class="form-group input-group">

        <span class="input-group-addon"><label class="control-label" for="token">{{'TOKEN' | translate}}</label></span>
        <input type="password" class="form-control" id="token" name="token" ng-model="token"
               required>
    </div>

    <button ng-click="changePassword(token, password)" type="submit" class="btn btn-primary btn-lg btn-block">
        {{'RESET_PASSWORD' | translate }}
    </button>

</form>



