<!-- Modal -->
<form name="passwordUpdateForm" novalidate>
  <div class="modal-header">
    <button class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">{{'UPDATE_PASSWORD' | translate}}</h4>
  </div>
  <div class="modal-body">

    <div class="form-group input-group"
      ng-class="{'has-error': passwordUpdateForm.currentPassword.$invalid && (passwordUpdateForm.currentPassword.$dirty  || showPristineErrors)}">
      <span class="input-group-addon"><label class="control-label" for="currentPassword">{{'CURRENT_PASSWORD' | translate}}</label></span>
      <input inline-error-input type="password" class="form-control ui-autocomplete" id="currentPassword" name="currentPassword"
             ng-model="passwordModel.currentPassword" required ng-minlength="6"
             inline-error-input-min-length-message="{{'PASSWORD_TOO_SHORT' | translate}}"
             inline-error-input-required-message="{{'FIELD_REQUIRED' | translate}}"
             ng-focus="clearErrors()"
             ng-keydown="updatePasswordOnEnter($event, passwordModel.currentPassword, passwordModel.newPassword)">
    </div>
    <div class="form-group input-group"
      ng-class="{'has-error': passwordUpdateForm.newPassword.$invalid && (passwordUpdateForm.newPassword.$dirty  || showPristineErrors)}">
      <span class="input-group-addon"><label class="control-label" for="newPassword">{{'NEW_PASSWORD' | translate}}</label></span>
      <input inline-error-input type="password" class="form-control ui-autocomplete" id="newPassword" name="newPassword"
             ng-model="passwordModel.newPassword" required ng-minlength="6" inline-error-input-min-length-message="{{'PASSWORD_TOO_SHORT' | translate}}"
             inline-error-input-required-message="{{'FIELD_REQUIRED' | translate}}"
             ng-keydown="updatePasswordOnEnter($event, passwordModel.currentPassword, passwordModel.newPassword)"
             ng-focus="clearErrors()">
    </div>
    <div class="form-group input-group"
      ng-class="{'has-error': passwordUpdateForm.confirmNewPassword.$invalid && (passwordUpdateForm.confirmNewPassword.$dirty  || showPristineErrors)}">
      <span class="input-group-addon"><label class="control-label" for="confirmNewPassword">{{'CONFIRM_NEW_PASSWORD' | translate}}</label></span>
      <input inline-error-input type="password" class="form-control ui-autocomplete" id="confirmNewPassword" name="confirmNewPassword"
             ng-model="passwordModel.confirmNewPassword" required ng-minlength="6" inline-error-input-equal="newPassword"
             inline-error-input-equal-message="{{'PASSWORDS_NO_MATCH' | translate}}" inline-error-input-min-length-message="{{'PASSWORD_TOO_SHORT' | translate}}"
             ng-keydown="updatePasswordOnEnter($event, passwordModel.currentPassword, passwordModel.newPassword)"
             ng-focus="clearErrors()">
    </div>
      <!-- Errors -->
      <ul ng-if="errors && errors.length" class="list-unstyled text-danger">
          <li ng-repeat="error in errors">{{error.message | translate}}</li>
      </ul>
  </div>
  <div class="modal-footer">
    <button type="submit" ng-click="updatePassword(passwordModel.currentPassword, passwordModel.newPassword)" id="update-password-btn"
            class="btn btn-warning btn-lg btn-block" ng-disabled="passwordUpdateForm.$invalid || submitDisabled">{{'SAVE'|translate}}</button>
  </div>
</form>