<section>

	<div class="page-header">
	<h2>{{'FORGOT_PW' | translate}}</h2>
	<p>{{'FORGOT_PW_INSTRUCT' | translate}}</p>
	</div>
	<form name="resetPwForm" novalidate>
	    <div class="form-group input-group" ng-class="{'has-error': resetPwForm.password.$invalid &&  resetPwForm.password.$dirty}">

          <span class="input-group-addon"><label class="control-label" for="usernameInput">{{'EMAIL' | translate}}</label></span>
          <input type="email" class="form-control" id="usernameInput" ng-model="email" placeholder="Enter email" name="username"
                 ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" required>
	    </div>
	  <button ng-click="requestPasswordReset(email)" type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="resetPwForm.$invalid"
              >{{'RESET_PASSWORD' | translate}}</button>

	</form>


</section>
