<form name="singupForm" ng-submit="signup(user.signup, singupForm)">
  <div class="form-group input-group">
    <label class="input-group-addon control-label" for="emailInput">{{'EMAIL' | translate}}</label>
      <input builder-input="email" type="email" class="form-control" id="emailInput" name="email"
             ng-model="user.signup.email" required ng-focus="clearErrors()">
  </div>
  <div class="form-group input-group">
    <label class="input-group-addon control-label" for="newPasswordInput">{{'PASSWORD' | translate}}</label>
      <input builder-input="password" type="password" class="form-control" id="newPasswordInput" placeholder="{{'PASSWORD_MINCHAR'| translate}}" name="password"
             ng-model="user.signup.password" required ng-focus="clearErrors()">
  </div>
    <ul ng-if="errors && errors.signup.length" class="text-danger list-unstyled">
        <li ng-repeat="error in errors.signup">{{error.message | translate}}</li>
    </ul>
  <button type="submit" id="create-acct-btn" class="btn btn-primary btn-lg btn-block">{{'CREATE_ACCOUNT' | translate}}</button>
</form>