doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title=store.name
    link(rel='stylesheet', href='js/vendor/angular-ui-select/dist/select.min.css')
    link(rel='stylesheet', href=store.style, type='text/css', media='screen, projection')

    //- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //
        [if lt IE 9]>
              script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
              script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
        <![endif]
  body

    div(class="off-canvas", ng-class="{'right': showCart, 'left': showMobileNav}")
      div(ui-view="sidebarNavigation", class="sidebar-offcanvas", id="sidebar", role="navigation")
      div(class="mainContent")
          div(ui-view="topNavigation")
          div(class="main")
            div(ui-view="main")
            div(class="content-mask", ng-click="closeOffcanvas()")
          div(ui-view="cart", class="offcanvas offcanvas-right", id="cart", role="navigation")
    // /.container
    // build:js js/multi-tenant-server.js

    script(src='js/vendor-static/jquery.min.js')
    script(src='js/vendor/angular/angular.min.js')
    script(src='js/vendor/angular-mocks/angular-mocks.js')
    script(src='js/vendor/angular-cookie/angular-cookie.js')
    script(src='js/vendor/restangular/dist/restangular.min.js')
    script(src='js/vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(src='js/vendor/angular-translate/angular-translate.min.js')
    script(src='js/vendor/lodash/dist/lodash.compat.min.js')
    script(src='js/vendor/angular-stripe-js/build/angular-stripe-js.min.js')
    script(src='js/vendor/ngInfiniteScroll/build/ng-infinite-scroll.min.js')
    script(src='js/vendor/spin.js/spin.js')
    script(src='js/vendor/angular-xeditable/dist/js/xeditable.min.js')
    script(src='js/vendor/angular-directive.g-signin/google-plus-signin.js')
    script(src='js/vendor/angular-sanitize/angular-sanitize.js')
    script(src='js/vendor/angular-ui-select/dist/select.min.js')

    script(src='js/bootstrap-multi-tenant.js')

    script(src='js/app/account/account-index.js')
    script(src='js/app/account/controllers/account-ctrl.js')
    script(src='js/app/account/controllers/account-order-detail-ctrl.js')
    script(src='js/app/account/services/account-service.js')

    script(src='js/app/auth/auth-index.js')
    script(src='js/app/auth/controllers/auth-modal-dialog-ctrl.js')
    script(src='js/app/auth/controllers/password-reset-ctrl.js')
    script(src='js/app/auth/controllers/password-update-ctrl.js')
    script(src='js/app/auth/controllers/password-reset-update-ctrl.js')
    script(src='js/app/auth/directives/confirm-input.js')
    script(src='js/app/auth/services/auth-rest.js')
    script(src='js/app/auth/services/token-service.js')
    script(src='js/app/auth/services/auth-service.js')
    script(src='js/app/auth/services/auth-dialog-manager.js')
    script(src='js/app/auth/services/anon-auth-service.js')
    script(src='js/app/auth/services/session-service.js')

    script(src='js/app/shared/shared-index.js')
    script(src='js/app/shared/settings.js')
    script(src='js/app/shared/site-config.js')
    script(src='js/app/shared/services/cookie-svc.js')
    script(src='js/app/shared/services/global-data.js')
    script(src='js/app/shared/services/configuration-service.js')
    script(src='js/app/shared/services/configuration-rest.js')
    script(src='js/app/shared/services/http-queue.js')
    script(src='js/app/shared/filters/filters.js')
    script(src='js/app/shared/controllers/sidebar-navigation-ctrl.js')
    script(src='js/app/shared/controllers/top-navigation-ctrl.js')

    script(src='js/app/shared/i18n/i18-index.js')
    script(src='js/app/shared/i18n/i18-constants.js')
    script(src='js/app/shared/i18n/lang/en.js')
    script(src='js/app/shared/i18n/lang/de.js')
    script(src='js/app/shared/i18n/providers/translation-provider.js')

    script(src='js/app/orders/orders-index.js')
    script(src='js/app/orders/services/order-list-service.js')
    script(src='js/app/orders/services/orders-rest.js')

    script(src='js/app/products/products-index.js')
    script(src='js/app/products/controllers/browse-products-ctrl.js')
    script(src='js/app/products/controllers/product-detail-ctrl.js')
    script(src='js/app/products/services/product-service.js')
    script(src='js/app/products/services/price-service.js')
    script(src='js/app/products/services/price-product-rest.js')
    script(src='js/app/products/services/category-service.js')

    script(src='js/app/cart/cart-index.js')
    script(src='js/app/cart/controllers/cart-ctrl.js')
    script(src='js/app/cart/services/cart-rest.js')
    script(src='js/app/cart/services/cart-service.js')

    script(src='js/app/checkout/checkout-index.js')
    script(src='js/app/checkout/controllers/checkout-ctrl.js')
    script(src='js/app/checkout/controllers/order-detail-ctrl.js')
    script(src='js/app/checkout/services/checkout-service.js')
    script(src='js/app/checkout/directives/inline-error-input.js')
    script(src='js/app/checkout/services/checkout-rest.js')

    script(src='js/app/confirmation/confirmation-index.js')
    script(src='js/app/confirmation/controllers/confirmation-ctrl.js')
    script(src='js/app/confirmation/services/order-details-svc.js')
    script(src='js/app/confirmation/services/order-details-rest.js')

    script(src='js/app/app.js')

    script(src='js/vendor-static/bootstrap.min.js')
    script(src='js/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='js/vendor-static/ui-bootstrap-tpls.js')
    script(src='js/vendor-static/jquery.menu-aim.js')
    script(src='https://js.stripe.com/v2/')


  // endbuild

  // Production
  //
        script(src='dist/public/js/617caaa4.multi-tenant-server.js')
