<div class="modal-header" ng-cloak>
    <button type="button" class="close" ng-click="closeEditUserDialog()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">
        {{'UPDATE_EMAIL' | translate}}
    </h4>
</div>
<form name="updateUserInfoForm" ng-submit="updateUserInfo()" novalidate>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12 col">
                <div class="form-group input-group"
                     ng-class="{'has-error': updateUserInfoForm.email.$invalid && (updateUserInfoForm.email.$dirty  || showPristineErrors)}">
                    <label class="input-group-addon control-label" for="email">{{'NEW_EMAIL' | translate}}</label>
                    <input inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
                           type="email" class="form-control ui-autocomplete" id="email" name="email"
                           ng-model="account.contactEmail" required autocomplete="on"
                           reqired>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="closeEditUserDialog()" id="cancel-btn" class="btn btn-secondary btn-lg">{{'CANCEL' | translate}}</button>
            <button type="submit" id="save-btn" class="btn btn-primary btn-lg" ng-disabled="updateUserInfoForm.$invalid">{{'SAVE' | translate}}</button>
        </div>
    </div>
</form>
