<div class="container">
    
    <div ui-view="product-tabs"></div><br>

    <div class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
        
        <div class="alert alert-danger" ng-repeat="(errorKey, errorValue) in errors">
            {{errorValue}}
        </div>

        <div class="row user-infos cyruxx">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                <div class="panel panel-primary">
                    <form name="productFrom" ng-submit="onSubmit(product)">
                        
                        <div class="panel-heading">
                            <h3 ng-if="product.isNew()" class="panel-title">New Product</h3>
                            <h3 ng-if="!product.isNew()" class="panel-title">Edit Product  {{product.name}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                                    <img class="img-circle"
                                         src="{{product.images[0].url || 'http://placehold.it/100x100/27394f/FFFFFF/&amp;text=No+Preview'}}"
                                         style="width:130px;"
                                         alt="Product Image">
                                </div>
                                <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                    <img class="img-circle"
                                         src="{{product.featuredImage}}"
                                         alt="User Pic">
                                </div>
                                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                    <strong>Product Name</strong><br>
                                    <dl>
                                        <dt>Description:</dt>
                                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In cumque eaque molestias aperiam maiores impedit odit dolores aliquam. Culpa, dolor nisi minima totam atque fuga laboriosam quas minus ratione sequi!</dd>
                                        <dt>Created on:</dt>
                                        <dd>11/12/2013</dd>
                                        <dt>In stock</dt>
                                        <dd>True</dd>
                                        <dt>Price</dt>
                                        <dd>$0</dd>
                                        <dt>Specification</dt>
                                        <dd>$0</dd>
                                    </dl>
                                </div>
                                <div class="col-md-9 col-lg-9 hidden-xs hidden-sm">
                                    <strong>
                                        <div class="input-group form-group wide" ng-class="{ 'has-error' : productFrom.name.$invalid && !productFrom.name.$pristine }">
                                            <input type="text" class="form-control" placeholder="Product Name" ng-model="product.name" name="name" required>
                                            <p ng-show="productFrom.name.$invalid && !productFrom.name.$pristine" class="help-block">
                                                Name is required.
                                            </p>
                                        </div>
                                    </strong><br>
                                    <table class="table table-user-information">
                                        <tbody>
                                        <tr>
                                            <td>Description:</td>
                                            <td>
                                                <div class="input-group form-group has-error description">
                                                    <textarea name="description" class="form-controll" rows="5" ng-model="product.description"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>In stock</td>
                                            <td>
                                                <label class="checkbox-inline">
                                                    <input type="radio" ng-value="true" ng-model="product.inStock" name="inStock"> yes
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="radio" ng-value="false" ng-model="product.inStock" name="inStock"> no
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Price</td>
                                            <td>
                                                <div class="input-group form-group" ng-class="{ 'has-error' : productFrom.price.$invalid && !productFrom.price.$pristine }">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="text" class="form-control" ng-model="product.price" name="price" placeholder="0.0">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Specification</td>
                                            <td>
                                                <div class="input-group form-group">
                                                  <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
                                                  <input type="url" class="form-control" ng-model="product.url" ng-class="{ 'has-error' : productFrom.url.$invalid && !productFrom.url.$pristine }">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Images</td>
                                            <td>
                                                <div class="input-group form-group" ng-repeat="pimage in product.images">
                                                  <span class="input-group-addon">
                                                    <img ng-if="pimage.url" src="{{pimage.url}}" alt="" style="max-width:14px;max-height:14px;">
                                                    <i ng-if="!pimage.url" class="glyphicon glyphicon-picture"></i>
                                                </span>
                                                  <input type="text" class="form-control" ng-model="pimage.url">
                                                  <span class="input-group-addon">
                                                    <a href="" ng-click="removeImage(image, $index)"><i class="glyphicon glyphicon-remove"></i></a>
                                                  </span>
                                                </div>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="addImage()"><i class="glyphicon glyphicon-plus"></i></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-sm btn-primary" type="submit"
                                    data-toggle="tooltip"
                                    data-original-title="Send message to user"><i class="glyphicon glyphicon-ok"></i></button>
                            <span class="pull-right">
                                <button class="btn btn-sm btn-danger" type="button"
                                        data-toggle="tooltip"
                                        data-original-title="Remove this user"><i class="glyphicon glyphicon-trash"></i></button>
                            </span>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        
        
    </div>
</div>