<h2>{{'PRODUCTS' | translate}}</h2>

<ul class="products-list list-group" ng-class="{ loading: loading }">
	<div class="loader"></div>

	<li class="list-group-item clearfix" ng-repeat="product in products.products" ng-class="{ 'list-group-item-info': isIncart(product) }">

	  	<form class="form-inline pull-right" role="form">
	  		<a class="btn btn-default btn-xs" ng-if="isIncart(product)" ng-click="removeFromcart(product)">
				<span class="glyphicon glyphicon-trash"></span> Remove
			</a>
			<div class="form-group">
				<input type="text" class="form-control input-sm xs" name="quantity" placeholder="0" ng-model="product.quantity">
			</div>
	  	  	
			<a class="add-to-cart btn btn-default btn-xs" ng-click="addTocart(product, product.quantity)" ng-disabled="!product.quantity || product.quantity == 0">
				<i class="glyphicon glyphicon-plus"></i> 
				<span>Add to cart</span>
			</a>	
	  	</form>
	  	
	  	<a href="{{CONTEXT_ROOT}}{{product.url}}" target="_blank" title="{{product.description}}" class="product">
	  		<img src="{{CONTEXT_ROOT}}{{product.images[0].url}}" alt="{{product.name}}" width="30">
	  		<span>{{product.name}}</span>
	  		<span class="badge">{{product.price.formattedValue}}</span>
	  	</a>
	</li>

	<li class="list-group-item clearfix" ng-if="!loading && !products.length">
		{{'NO_PRODUCTS' | translate}}
	</li>

</ul>