.account{
	.img-circle{
		margin-top: 25px;
		min-width: 45px;
	}
	.page-headline{
		margin-top: -@line-height-computed ;
	}
	.inline-label{
		font-family: @font-family-serif, serif;
		font-style: italic;
		font-weight: bold;
	}

	.order-status{
		font-family:   @font-family-sans-serif;
		font-style: normal;
	}

	.cart-item{
		border:none;
		padding-bottom: 0;
		padding-left: 0;
	}

	.summary{
		float: right;
		@media screen and (max-width: @screen-xs-max) {
			width: 100%;
			float: none;
		}
	}

	.order-tabel{
		border-bottom: 1px solid @table-border-color;
	}
}

.default-address {
	span {
		font-weight: bold;
	}
}

.editable-buttons {
	.btn.btn-default {
		display: none;
	}
}