

/* CUSTOM VARS */

@lightestgrey: #f5f5f5;
@lightergrey: #eee;
@lightgrey: #e2e2e2;
@defaultgrey: #bebebe;
@darkgrey: #929292;
@darkergrey: #6d6e6f;
@darkestgrey: #3c3c3c;

@defaultblue: #0068b3;
@lightblue: #0079ff;

@defaultgreen: #3ab85d;
@brightred: #f1291e;

@defaultred: #e63c19;

/* BTN */ 

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

.btn{
	text-transform: uppercase;
}

.btn-link{
	&,&:active, &.active{
		.box-shadow("none !important");
	}
	
}

@btn-default-color:              #fff;
@btn-default-bg:                 @darkgrey;
@btn-default-border:           	 @btn-default-bg;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @defaultblue;

/* ALERTS */
.alert{
	font-style: italic;
	font-family: Georgia, "Times New Roman", serif;
	text-align: center;
	border: none;
	font-weight: bold;
	padding: 7px;
}

@state-success-text:             #fff;
@state-success-bg:               @defaultgreen;


/*WELL */
@well-bg:                     @lightgrey;
@well-border:                 @lightgrey;

.well{
	box-shadow: none;
}

/* FORMS */
.input-group{
	.input-group-addon{
		background: #fff;
		color: @darkgrey;

	    label{
	    	font-family: @font-family-serif, serif;
	    	font-style: italic;
	    	font-weight: normal;
	    	margin: 0px;
	    }
	}
	.form-control{
		height: 48px;
		border-left-width: 0px;
		padding: 13px 6px 13px 7px;
		box-shadow: 0 0 0;
		text-transform: uppercase;

		.placeholderstyle(@darkgrey);

		&:focus{
			border-left-width: 1px;
			padding: 13px 6px 13px 6px;
		}
	}
}

.form-block-headline{
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 25px 0px 10px;
	display: block;
	color: @darkgrey;
	.clearfix;
}

.has-error {
	  .form-control-validation(#fff; #cf0d0d; #f97777);
	  .form-control {
	  	background: #f97777;
	  	color: #fff;
	  	.placeholderstyle(#fff);
	  }
}


/* Placeholder Mixin */
.placeholderstyle(@color){

	.style{
		color: @color; 
	    opacity: 1;
	    font-family: @font-family-serif, serif;
	    font-style: italic;
	    text-transform: none;
	}

	&::-moz-placeholder{ 
  			.style;
    } // Firefox
  	&:-ms-input-placeholder       { 
  			.style;
  	} // Internet Explorer 10+
  	&::-webkit-input-placeholder{
  			.style;
  	} // Safari and Chrome
}




//== Pagination
@pagination-color:                     @darkestgrey;
@pagination-bg:                        #fff;
@pagination-border:                    @lightgrey;
@pagination-hover-color:               @link-hover-color;
@pagination-hover-bg:                  @gray-lighter;
@pagination-hover-border:              #ddd;
@pagination-active-color:              @lightblue;
@pagination-active-bg:                 @pagination-bg;
@pagination-active-border:             @pagination-border;
@pagination-disabled-color:            @gray-light;
@pagination-disabled-bg:               #fff;
@pagination-disabled-border:           #ddd;


.pagination {
	margin:0 auto 20px;
	> li {
		> a{
			font-size: 12px;
			line-height: 2;
			height: 43px;
		}

		&.active{
			> a{
				font-family: @font-family-serif;
				font-size: 23px;
				font-style: italic;
				line-height: 0.6;
			}
			
		}
	}
}

