.product-gallery{
	max-width: 500px;
	.image{
		margin: 0 0 30px 0;
		position: relative;

		button.zoom{
			position: absolute;
			right: 0;
			top: 0;
			color:#999;
		}
		img{
			width: 100%;
			height:auto;
		}
	}

	.thumbnails{
		.visible-md;
		.visible-lg;
	}
	
	
}