.y-search {
  position: relative;
  margin: 10px;

  .y-input::-webkit-input-placeholder { /* WebKit browsers */
    color:@lightblue;
  }
  .y-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:@lightblue;
    opacity:  1;
  }
  .y-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:@lightblue;
    opacity:  1;
  }
  .y-input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:@lightblue;
  }

  .y-input:focus{
    border: 1px solid black;
    color:black;
  }

  .y-search-container {
    width: 100%;
    display: none;
    position: absolute;
    z-index: 2000;
    cursor: pointer;
    border: 1px solid black;
    border-top: none;


    em{
      font-style: normal;
      font-weight: 800;
    }

    .y-search-results {
      height: auto;
      padding: 10px;
      border: none;
      box-shadow: none;
      display: block;
      line-height: 1;
      font-size: 12px;


      .y-search-result-name {
        display: block;
        font-size: medium;
      }
      .y-search-result-description {
        font-size: smaller;
      }
    }

    .y-search-count {
      padding: 10px 15px 10px 20px;
      border-top: 1px solid gray;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555555;
      background-color: #ffffff;
      width: 100%;
      display: block;
      color:@lightblue;
    }
  }
}
.y-search-message{
  background-color: #fad712;
  padding:5px;
  margin-bottom: 20px;
}
.y-search-again{
  color:@lightblue;
  cursor: pointer;
}


.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  position: absolute;
  padding: 9px 12px;
  pointer-events: none;
  right: 0;
}