/* _____ VARIABLES _____ */






// COMPONENTS
// ==========================================================================

/* OFFCANVAS */

@offcanvas-left-width-m: 70%;
@offcanvas-right-width-m: 85%;

@offcanvas-left-width-d: 210px;
@offcanvas-right-width-d: 500px;

@offcanvas-transition: all 0.25s ease-out 0.1s;

/* MULTILEVEL MENU */

@ml-menu-width:@offcanvas-left-width-d;
@ml-menu-bg:@lightgrey;
@ml-menu-bg-opacity:90%;


/* TOPLEVEL BAR */

@topNavigationHeight:75px;