// z-index.less
// Thanks to medium.com for this great idea 
 

// Z-Index Scale
// --------------------------------------------------
@zIndex-1: 100;
@zIndex-2: 200;
@zIndex-3: 300;
@zIndex-4: 400;
@zIndex-5: 500;
@zIndex-6: 600;
@zIndex-7: 700;
@zIndex-8: 800;
@zIndex-9: 900;
@zIndex-10: 1000;

// Z-Index Components
// --------------------------------------------------
@zIndex-offcanvas-sidebar:  @zIndex-3;
@zIndex-offcanvas-cart:  @zIndex-3;
@zIndex-offcanvas-mask:  @zIndex-3 - 1;
@zIndex-topnavigation: @zIndex-3 - 2;
@zIndex-maincontent:  @zIndex-1;
@zIndex-editcart:  @zIndex-3;
