<div class="checkout confirm">
	<div class="row section">
		<div class="col-sm-7 col-md-7 order-summary">
			<h1>
				<small>Success!</small>
				thank you</br> for your order!
			</h1>

			<p>Your order is <span class="highlight">Order# {{ orderInfo.orderId }}</span></p>
            <div>
                <p>A copy of your order details has been sent to:</p>
                <address>
                    <span ng-cloak>{{confirmationDetails.emailAddress}}</span>
                </address>
                <p>The Shipment is scheduled to arrive at the following location:</p>

                <address>
                    <span ng-cloak>{{confirmationDetails.shippingAddressLine1}}<br></span>
                    <span ng-cloak>{{confirmationDetails.shippingAddressLine2}}<br></span>
                    <span ng-cloak>{{confirmationDetails.shippingAddressLine3}}<br></span>
                </address>
            </div>
            <h3>Enjoy your items!</h3>

            <div data-ui-sref="base.product">
                <button class="btn btn-primary btn-lg">
                    return to shopping
                </button>
            </div>
            <p class="support-box">If you have any questions about your order, we’re happy
                to take your call <strong>(888) 5550-1222</strong>.
		</div>
	</div>
</div>