<div class="checkout confirm">
	<div class="row section">
		<div class="col-sm-7 col-md-7 order-summary" ng-cloak>
			<h1>
				<small>{{'SUCCESS' | translate}}</small>
				{{'THANK_YOU' | translate}}</br> {{'FOR_YOUR_ORDER' | translate}}
			</h1>
			<p  ng-if="isAuthenticated" >{{'YOUR_ORDER_IS' | translate}} <a ui-sref="base.orderDetail({orderId: orderInfo.orderId})" class="highlight">{{ orderInfo.orderId }}</a></p>
            <p  ng-if="!isAuthenticated" >{{'YOUR_ORDER_IS' | translate}} {{ orderInfo.orderId }}</p>
            <div>
                <p>{{'A_COPY_OF_YOUR_ORDER_DETAILS_HAS_BEEN_SENT_TO' | translate}}:</p>
                <address>
                    <span ng-cloak>{{confirmationDetails.emailAddress}}</span>
                </address>
                <p>{{'THE_SHIPMENT_IS_SCHEDULED_TO_ARRIVE_AT_THE_FOLLOWING_LOCATION' | translate}}:</p>

                <address>
                    <span ng-cloak>{{confirmationDetails.shippingAddressName}}<br></span>
                    <span ng-cloak>{{confirmationDetails.shippingAddressStreetLine1}}<br></span>
                    <span ng-cloak ng-if="confirmationDetails.shippingAddressStreetLine2">{{confirmationDetails.shippingAddressStreetLine2}}<br></span>
                    <span ng-cloak>{{confirmationDetails.shippingAddressCityStateZip}}<br></span>
                    <span ng-cloak>{{confirmationDetails.shippingAddressCountry}}<br></span>
                </address>
            </div>
            <h3>{{'ENJOY_YOUR_ITEMS' | translate}}</h3>

            <div data-ui-sref="base.category">
                <button class="btn btn-primary btn-lg">
					{{'RETURN_TO_SHOPPING' | translate}}
                </button>
            </div>
            <p class="support-box">{{'QUESTIONS' | translate}} <strong>(888) 5550-1222</strong>.
		</div>

		<div class="col-md-5 col-sm-5 order-detail" ng-cloak>
			<section class="">
				<div class="subheadline">
                    <div ng-if="confirmationDetails.itemCount > 1">{{confirmationDetails.itemCount}} {{'ITEMS_IN_YOUR_ORDER' | translate}}</div>
                    <div ng-if="confirmationDetails.itemCount <= 1">{{confirmationDetails.itemCount}} {{'ITEM_IN_YOUR_ORDER' | translate}}</div>
                </div>
                <div ng-repeat="product in confirmationDetails.products">
                        <div class="cart-item row">
                            <div class="col-xs-4 col-md-4 text-center img-col">
                                <a ui-sref="base.product.detail( {productId: product.id} )">
                                    <img ng-src="{{ product.images && product.images[0].url || product.externalImages[0]}}" class="img-responsive"/>
                                </a>

                            </div>
                            <div class="col-xs-8 col-md-8  detail-col">

                                <div class="name">{{product.name}}</div>
                                <div class="sku item-attr">{{'SKU' | translate}}: <span> {{product.sku }}</span></div>
                                <div class="price item-attr">{{'ITEM_PRICE' | translate}}: <span> {{product.price | currency: currencySymbol}}</span></div>
                                <div class="variants row item-attr">
                                    <div class="variant col-md-6 ">{{'QTY' | translate}}: <span>{{product.amount}}</span></div>
                                </div>
                                <div class="price-total item-attr">{{'TOTAL_PRICE' | translate}}: <span>{{product.price * product.amount |currency: currencySymbol}}</span>
                                </div>
                        </div>
                    </div>
                </div>
			</section>

            <section class="summary" ng-cloak>
                <!-- CONFIRMATION-PAGE -->
                <table class="table">
                    <tbody>
                        <tr>
                            <td>{{'SUBTOTAL' | translate}}</td>

                            <td class="text-right">{{ confirmationDetails.totalPrice - confirmationDetails.shipping.total.amount + confirmationDetails.discountAmount | currency: currencySymbol}}</td>
                        </tr>
                        <tr>
                            <td>{{'SHIPPING' | translate}}</td>
                            <td class="text-right">{{ confirmationDetails.shipping.total.amount | currency: shippingCurrencySymbol }}</td>
                        </tr>
                        <tr ng-controller="CouponCtrl" ng-if="confirmationDetails.discountAmount != 0">
                            <td>{{'DISCOUNT' | translate}}</td>
                            <td class="text-right">
                                <span class="error">-{{confirmationDetails.discountAmount | currency: currencySymbol}}</span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>{{'ORDER_TOTAL' | translate}}</td>
                            <td class="text-right">{{ confirmationDetails.totalPrice | currency: currencySymbol}}</td>
                        <tr>

                    </tfoot>
                </table>
            </section>

		</div>

	</div>
</div>