    <!-- cart icon in mobile mode -->
    <button ng-if="isShowCartButton()" type="button" class="btn btn-link navbar-btn pull-right cart" id="full-cart-btn" ng-click="toggleCart()">
        <span class="hyicon hyicon-cart"></span><span class="quantity">{{ cart.totalUnitsCount }}</span>
    </button>
    <!-- cart icon in desktop mode -->
    <div class="offcanvas offcanvas-right" id="cart" role="navigation">
        <button type="button" ng-if="isShowCartButton()" id="mobile-cart-btn" class="btn btn-link navbar-btn pull-right cart" ng-click="toggleCart()">
            <span class="hyicon hyicon-cart"></span>
        </button>
    </div>
