<div class="pageFooter">
    <div class="row">
        <div class="col-xs-12 col-lg-6 socialIcons text-center">
            <a href="https://www.facebook.com/hybrissoftware"><span class="hyicon hyicon-social-facebook"></span></a>
            <a href="https://twitter.com/hybris_software"><span class="hyicon hyicon-social-twitter"></span></a>
            <a href="https://www.pinterest.com/cspieker/hybris/"><span class="hyicon hyicon-social-pinterest"></span></a>
        </div>
        <div class="col-xs-12 col-lg-6 links text-center">

            <a href="#">&copy; hybris YaaS</a>
            <span class="hidden">
                /
                <a href="#">{{'TERMS_AND_CONDITIONS' | translate}}</a>
                /
                <a href="#">{{'CONTACT_US' | translate}}</a>
                /
                <a href="#">{{'SITE_MAP' | translate}}</a>
            </span>
        </div>

    </div>
</div>