<div class="pageFooter">
    <div class="row">
        <div class="col-xs-12 col-lg-3 pull-right regionControls text-center">
            <div class="controlcontainer">
                <div class="dropdown">
                    <a class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="regionSelector">Region</a>
                    <div role="menu" class="dropdown-menu regionMenu" aria-labelledby="regionSelector">
                    <div class="row">
                        <div class="col-xs-6">
                            <ul class="list-unstyled">
                                <li>Region</li>
                                <li>Region</li>
                                <li>Region</li>
                                <li>Region</li>
                            </ul>
                            
                        </div>
                        <div class="col-xs-6 rightCol">
                            <ul class="list-unstyled">
                                <li>Language</li>
                                <li>Language</li>
                                <li>Language</li>
                                <li>Language</li>
                            </ul>

                        </div>
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3 socialIcons text-center">
            <a href="https://www.facebook.com/hybrissoftware"><span class="hyicon hyicon-social-facebook"></span></a>
            <a href="https://twitter.com/hybris_software"><span class="hyicon hyicon-social-twitter"></span></a>
            <a href="https://www.pinterest.com/cspieker/hybris/"><span class="hyicon hyicon-social-pinterest"></span></a>
        </div>
        <div class="col-xs-12 col-lg-6 links text-center">

                <a href="#">&copy; hybris YaaS</a>
                /
                <a href="#">Terms & Conditions</a>
                /
                <a href="#">Contact Us</a>
                /
                <a href="#">Site Map</a>
        </div>
    
    </div>
</div>