<div class="sidebar-offcanvas" id="sidebar" role="navigation">

    <a href="#!/    " class="logo"><img src="public/img/logo.png" alt=""></a>

    <form role="form" class="sidebar-search">
        <div class="form-group">
            <label for="searchsidebar" class="sr-only">Search</label>
            <input type="text" class="form-control" id="searchsidebar" placeholder="">
        </div>

    </form>


    <ul class="navi">
        <li><a href="#!/">Navigation</a></li>
        <li><a href="#">goes</a></li>
        <li><a href="#">here</a></li>
        <li><a href="#">Navigation</a></li>
        <li><a href="#">goes</a></li>
        <li><a href="#">here</a></li>
    </ul>

    <div class="social-icons">
        <a href="#"><span class="hyicon hyicon-social-facebook"></span></a>
        <a href="#"><span class="hyicon hyicon-social-twitter"></span></a>
        <a href="#"><span class="hyicon hyicon-social-pinterest"></span></a>
    </div>
</div>