<nav class="full-nav">

	<div class="sidebar-offcanvas" id="sidebar" role="navigation">

		<a ui-sref="base.product" class="logo"><img ng-src="{{GlobalData.store.logo || 'public/img/logo.png'}}" alt=""  style="max-width:65px;"></a>

		
		<!-- 
		<form role="form" class="sidebar-search">
			<div class="form-group">
				<label for="searchsidebar" class="sr-only">Search</label>
				<input type="text" class="form-control" id="searchsidebar" placeholder="">
			</div>
		</form>
 		-->

		<ul class="navi">
			<li><a ui-sref="base.product">Products</a></li>
			<!-- 
			<li><a href="#">Contact</a></li>
			<li><a href="#">Press</a></li>
			 -->
		</ul>

		<!-- 
		<div class="social-icons">
			<a href="#"><span class="hyicon hyicon-social-facebook"></span></a>
			<a href="#"><span class="hyicon hyicon-social-twitter"></span></a>
			<a href="#"><span class="hyicon hyicon-social-pinterest"></span></a>
		</div>
 		-->
	</div>
</nav>
<nav class="top-navigation">
    <button type="button" class="btn btn-link navbar-btn pull-left menu" ng-click="toggleOffCanvas()">
        <span class="hyicon hyicon-menu"></span>
    </button>
	<button type="button" class="btn btn-link navbar-btn pull-right search">
        <span class="hyicon hyicon-search"></span>
    </button>
    <div class="logo">
        <a href=""><img src="public/img/logo.png" alt=""></a>
    </div>
</nav>