<ul class="nav navbar-nav">
	<li ui-sref-active="active">
		<a ui-sref="base.products.list">{{'PRODUCTS' | translate}}</a>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="base.orders">{{'ORDERS' | translate}}</a>
	</li>
</ul>

<ul class="nav navbar-nav navbar-right">
	<li>
		<a href="" data-container="body" data-toggle="popover" data-selector=".shopping-card" data-placement="bottom" cardpopover><i class="glyphicon glyphicon-shopping-cart"></i> Card</a>
	</li>
	<li>
		<a href="" data-container="body" data-toggle="popover" data-selector=".sign-in" data-placement="bottom" cardpopover><i class="glyphicon glyphicon-log-in"></i> Sign in</a>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{'LANGUAGES' | translate}}<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li ng-repeat="clanguageCode in languageCodes" ng-class="{ active: clanguageCode === languageCode }">
				<a ng-click="switchLanguage(clanguageCode)">{{clanguageCode | translate}}</a>
			</li>
		</ul>
	</li>
</ul>