<div class="y-profile-header">
    <h1><a ui-sref="base.home">SAP Hybris Profile Quick Start Storefront</a></h1>
    <p>The purpose of this website is to demonstrate the basic flow in SAP Hybris Profile. It is not a real storefront and it does not communicate with any external e-commerce services. This demo shows how the customer is tracked while browsing the products, and provides quick links to the SAP Hybris Profile related tools.</p>
    <p>Check our <a href="https://devportal.yaas.io/solutions/saphybrisprofile/index.html#SAPHybrisProfileQuickStartGuide" target="_blank">Quick Start Guide</a></p>
</div>