<div class="modal-header shippingZoneModalHeader" ng-cloak>
  <button type="button" class="close" ng-click="closeAddressDialog()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{'CLOSE' | translate}}</span></button>
  <h4 class="modal-title" id="myModalLabel">{{'SHIPPING_INFORMATION' | translate}}</h4>
</div>
<div class="shippingZoneModal modal-body">
  <div class="row">
    <div class="zoneparent col-xs-12">
        <p class="label">{{'SHIPPING_ZONE' | translate}} - &lt;ZONE&gt;
        <p> {{'INCLUDES' | translate}} <span>&lt;Country&gt;</span>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="rangeCol col-xs-7">
                <p class="label">{{'STANDARD_SHIPPING' | translate}} - &lt;ZONE&gt;
                <p>&lt;shipping rate&gt;</p>                
                <p>&lt;shipping rate&gt;</p>                
                <p>&lt;shipping rate&gt;</p>                
                <p>&lt;shipping rate&gt;</p>                
            </div>
            <div class="col-xs-5 text-right">
                <p class="title">{{'SHIPPING_RATE' | translate }}</p>
                <p>&lt;shipping rate&gt;</p>                
                <p>&lt;shipping rate&gt;</p>                
                <p>&lt;shipping rate&gt;</p>                
                <p>&lt;shipping rate&gt;</p>                
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="rangeCol col-xs-7">
                <p class="label">{{'METHOD' | translate}} - &lt;ZONE&gt;
                <p>&lt;price&gt; USD</p>                
            </div>
            <div class="col-xs-5 text-right">
                <p class="title">{{'SHIPPING_RATE' | translate}}</p>
                <p>&lt;Rate&gt; USD</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="rangeCol col-xs-7">
                <p class="label">{{'FREE_SHIPPING' | translate}} - &lt;ZONE&gt;
                <p>&lt;shipping rate&gt;</p>                
            </div>
            <div class="col-xs-5 text-right">
                <p class="title">{{'SHIPPING_RATE' | translate}} - &lt;ZONE&gt;
                <p>&lt;price&gt; USD</p>                
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="rangeCol col-xs-7">
                <p class="title">{{'SHIPPING_RATE' | translate}} - &lt;ZONE&gt;
                <p>&lt;shipping rate&gt;</p>                
            </div>
            <div class="col-xs-5 text-right">
                <p class="title">{{'SHIPPING_RATE' | translate}} - &lt;ZONE&gt;
                <p>&lt;price&gt; USD</p>                
            </div>
        </div>
    </div>
  </div>
</div>
