<a ui-sref="base.home" class="logo hy-stickyComponent">
    <img ng-src="{{store.logo || 'img/logo.png'}}" alt="" style="max-width:65px;">
</a>

<div class="authentication-cnt text-center hy-stickyComponent">
    <div ng-if="user.isAuthenticated" >
        <div class="signinContainer">
            <a href="" class="my-profile" ng-click="myAccount()" title="{{'MY_ACCOUNT' | translate}}">
                <img src="./img/user-icon_small_active.png" class="user-avatar">
            </a>
        </div>
        <p>
            <a ng-click="logout()" id="logout-btn" class="signout btn">{{'SIGN_OUT' | translate}}</a>
        </p>
    </div>

    <div ng-if="!user.isAuthenticated">

        <div class="signinContainer">
            <a ng-if="!user.isAuthenticated" id="login-btn" class="signin btn btn-link hidden-xs hidden-sm" pop-over  data-placement="auto"  popover-Class="loginPopover" popover-Controller="AuthModalDialogCtrl" template-Url="./js/app/auth/templates/auth.html">

                <img src="./img/user-icon_small.png" class="user-avatar">
                {{'SIGN_IN' | translate}}
            </a>
        </div>
    </div>
</div>

<div class="hy-flexibleHeightNav" ng-cloak>
    <div class="seperator"></div>
    <ul ds-menu-aim class="navi hy-scrollingNav">
        <li ng-repeat="category in categories" class="js-listRoot"> <!-- class="has-sub" -->
            <a ui-sref="base.category( {catName: category.slug} )" class="mainCategory categoryLevel" ng-click="hideMobileNav()">
                <span class="categoryDetail">{{ category.name  }}
                    <span class="hyicon hyicon-chevron-thin-right"></span>
                </span>
            </a>
            <div ng-if="category.subcategories" class="sub-navi">
                <ul class="sub-navi-list">
                    <li ng-repeat="sub2 in category.subcategories" class="flyoutSubCategory js-flyoutSubCategory {'has-sub': sub2.subcategories}">
                        <a data-ui-sref="base.category( {catName: sub2.slug} )" class="secondaryCategory categoryLevel" ng-class="{'noSubCategories': sub2.subcategories == undefined}">{{sub2.name }}<span class="hyicon hyicon-chevron-bold-right"></span></a>
                        <div class="tertiaryCategory">
                            <ul >
                                <li ng-repeat="sub3 in sub2.subcategories">
                                    <a class="tertiaryLevel categoryLevel" ui-sref="base.category( {catName: sub3.slug} )" >{{ sub3.name }}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </li>

    </ul>
    <div class="seperator"></div>
</div>

<div class="store-settings hidden-md hidden-lg" >
    <div ng-controller="languageSelectorController"  ng-cloak class="selectContainer">
        <select ng-model="language.selected" class="ui-select-bootstrap-transparent" ng-if="languages.length > 1" ng-options="lang.value for lang in languages track by lang.value">
            <!--<option value="">{{'SELECT_LANGUAGE' | translate}}</option>-->
        </select>
    </div>
    <div ng-controller="currencySelectorController" ng-cloak class="selectContainer">
        <select ng-model="currency.selected" class="ui-select-bootstrap-transparent" ng-if="currencies.length > 1" ng-options="curr.label for curr in currencies">
            <!--<option value="">{{'SELECT_CURRENCY' | translate}}</option>-->
        </select>
    </div>
</div>

<div class="store-settings hy-stickyComponent hidden-sm hidden-xs" ng-cloak >
    <div class="configSelector" ng-controller="languageSelectorController">
        <div data-placement="auto" popover-Class="languageSelectorContainer" pop-over popover-Controller="languageSelectorController" template-Url="./js/app/shared/templates/language-selector.html">
            <p class="languageSelector" ng-if="languages.length > 1" >{{language.selected.value | translate}}</p>
        </div>
    </div>
    <div class="configSelector" ng-controller="currencySelectorController">
        <div data-placement="auto" popover-Class="currencySelectorContainer" pop-over popover-Controller="currencySelectorController" template-Url="./js/app/shared/templates/currency-selector.html">
            <p class="currencySelector" ng-if="currencies.length > 1">{{currency.selected.id | translate}}</p>
        </div>
    </div>
</div>

