

	<a ui-sref="base.category" class="logo"><img ng-src="{{GlobalData.store.logo || 'img/logo.png'}}" alt=""
												style="max-width:65px;"></a>

	<div class="authentication-cnt text-center">
		<ul class="navi authenticated">
			<li>
				<a href="" class="my-profile" ng-click="myAccount()" ng-if="user.isAuthenticated" title="{{'MY_ACCOUNT' | translate}}">
					<img src="./img/user-icon_small_active.png" class="user-avatar">
				</a>
			</li>
			<li><a ng-click="logout()" ng-if="user.isAuthenticated" id="logout-btn" class="signout btn">{{'SIGN_OUT' | translate}}</a></li>
		</ul>
		
		<a ng-click="login()" ng-if="!user.isAuthenticated" id="login-btn" class="signin btn btn-link" >
			<img src="./img/user-icon_small.png" class="user-avatar">
			{{'SIGN_IN' | translate}}
		</a>
	</div>

	<ul class="navi" >
<!--
            <li><a ng-click="showProducts()">category.name</a></li>
-->
		<!-- 
		 static example  for multi hierarchy - remove after sampledata is there
-->
        <li>
            <a ui-sref="base.category({catName: null})" ng-click="hideMobileNav()">{{ 'ALL_PRODUCTS' | translate  }} <span class="hyicon hyicon-chevron-bold-right"></span></a>
        </li>

		<li ng-repeat="category in categories"> <!-- class="has-sub" -->
			<a ui-sref="base.category( {catName: category.slug} )" ng-click="hideMobileNav()">{{ category.name  }} <span class="hyicon hyicon-chevron-bold-right"></span></a>
         <!--
			<div class="sub-navi">
				<ul class="sub-navi-list">
					<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 1</a></li>
					<li class="has-sub"><a href="">Level Two 1<span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="">Level Two 2<span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="">Level Two 3<span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="">Level Two 4<span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="">Level Two 5<span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="">Level Two 6<span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="">Level Two 7<span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="">Level Two 8<span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>

				</ul>
				
			</div>
		-->
        </li>
        <!--
		<li class="has-sub"><a href="">Level 1 <span class="hyicon hyicon-chevron-bold-right"></span></a>
		<div class="sub-navi">
				<ul class="sub-navi-list">
					<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 1</a></li>
					<li class="has-sub"><a href="">Level Two <span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="">Level Two <span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="">Level Two <span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="">Level Two <span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="">Level Two <span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="">Level Two <span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="">Level Two <span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>
					<li class="has-sub"><a href="">Level Two <span class="hyicon hyicon-chevron-bold-right"></span></a>
						<ul>
							<li class="back"><a href=""><span class="hyicon hyicon-chevron-bold-left"></span> Back to Level 2</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
							<li><a href="">Level 3</a></li>
						</ul>
					</li>
		
				</ul>
				
			</div>
		</li>
		<li><a href="">Level 1</a></li>
		<li><a href="">Level 1</a></li>
		<li><a href="">Level One</a></li>
		<li><a href="">Level 1</a></li>
		<li><a href="">Level One</a></li>
		<li><a href="">Level 1</a></li>
        -->
	</ul>

    <ul class="navi">

        <li><a ng-click="switchLanguage('en')">EN</a></li>
        <li><a ng-click="switchLanguage('de')">DE</a></li>
    </ul>
    <ul class="navi">
        <li ng-repeat="currency in GlobalData.getAvailableCurrencies()"><a ng-click="switchCurrency(currency.id)">{{currency.label}}</a></li>
    </ul>
