<!-- mobile navigation only -->
<div class="mobileNav hidden-lg hidden-md visible-sm visible-xs">
    <nav class="top-navigation row" ng-cloak>
        
        
        <!-- hamburger menu -->
        <div class="col-xs-3">
            <button type="button" class="btn btn-link navbar-btn menu" ng-click="toggleOffCanvas()">
                <span class="hyicon hyicon-menu"></span>
            </button>
        </div>

        <!-- logo -->
        <div class="col-xs-5 text-center">
            <a class="logo" ui-sref="base.home">
                <img ng-src="{{GlobalData.store.logo || 'img/logo.png'}}" alt="logo">
            </a>
        </div>
        
        <!-- header right -->
        <div class="col-xs-4 text-right">
            <div class="row">

                <!-- site selector -->
                <div class="col-xs-6">
                    <div class="pull-right">
                        <site-selector id="siteSelectorSmall"></site-selector>
                    </div>
                </div>

                <!-- cart button -->
                <div class="col-xs-6 text-center">
                    <button type="button" ng-if="isShowCartButton()" id="mobile-cart-btn" class="btn btn-link navbar-btn cart-button"
                            ng-click="toggleCart()">
                        <span class="shopping-bag">
                            <span class="quantity">{{ cart.totalUnitsCount || 0 }}</span>
                        </span>
                    </button>
                </div>

            </div>
        </div>
    </nav>
</div>


<!-- dekstop navigation only -->
<div class="desktopNav hidden-xs hidden-sm visible-md visible-lg">
    <div class="row info">

        <!-- logo -->
        <div class="col-xs-2 logo navbar-padding navbar-padding-left">
            <a ui-sref="base.home" class="logo">
                <img ng-src="{{GlobalData.store.logo || 'img/logo.png'}}" alt="logo" />
            </a>
        </div>
    
        <!-- search bar -->
        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6 search navbar-padding navbar-padding-left" style="padding-right: 0px">
            <ysearch></ysearch>
        </div>
        
        <!-- header right -->
        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-4 cart navbar-padding navbar-padding-right">
            <div class="row">

                <!-- signin button -->
                <div class="col-xs-6 col-md-6">
                    <div class="text-center">
                        <a id="login-btn" ng-if="!user.isAuthenticated" class="signin" ng-click="login({windowClass:'mobileLoginModal'})" href="">
                            {{'SIGN_IN' | translate}}
                        </a>
                    </div>
                    <div ng-if="user.isAuthenticated">
                        <div class="signin-container ">
                            <div class="text-center dropdown">
                                <a class="my-profile dropdown-toggle" title="{{'MY_ACCOUNT' | translate}}" id="my-account" data-toggle="dropdown">
                                    <img id="my-account-dropdown" ng-src="{{user.image}}" class="user-avatar socialAvatar">
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="presentation">
                                        <a role="menuitem" id="my-account-link" tabindex="-1" href="" ng-click="myAccount()">{{'MY_ACCOUNT' | translate}}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li  role="presentation" >
                                        <a  role="menuitem" id="logout-btn" tabindex="-1" href="" ng-click="logout()">{{'SIGN_OUT' | translate}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- site selector -->
                <div class="col-xs-3 col-md-3 text-center site-selector-container">
                    <site-selector id="siteSelectorLarge"></site-selector>
                </div>

                <!-- cart icon -->
                <div class="col-xs-3 col-md-3 text-center checkout-btn-container">
                    <button ng-if="isShowCartButton()" type="button" class="btn btn-link navbar-btn" id="full-cart-btn" ng-click="toggleCart()" ng-cloak>
                        <span class="shopping-bag">
                            <span class="quantity">{{ cart.totalUnitsCount || 0 }}</span>
                        </span>
                    </button>
                </div>

            </div>

            <!-- what is this div for???  -->
            <div class="cart-and-account-container"></div>

            <!-- clear div -->
            <div class="clr"></div>

        </div>
    </div>
    <div class="row nav js-mainNav">
        <div class="content-container">
            <div class="navbar yamm navbar-default">
                <ul id="product-categories" class="nav navbar-nav">
                    <li ng-repeat="top_category in categories" class="dropdown yamm-fw">
                        <!-- class="has-sub" -->
                        <a ui-sref="base.category( {catName: top_category.slug} )" class="js-megamenutoggle mainCategory categoryLevel">
                            {{ top_category.name  }}
                            <ul class="dropdown-menu js-flyoutMenu" ng-if="top_category.subcategories">
                                <div ng-repeat="sub2 in top_category.subcategories" class="col-xs-2">

                                    <a data-ui-sref="base.category( {catName: sub2.slug} )" class="secondaryCategory categoryLevel" ng-class="{'noSubCategories': sub2.subcategories == undefined}">
                                        {{sub2.name }}
                                        <div class="tertiaryCategory">
                                            <ul>
                                                <li ng-repeat="sub3 in sub2.subcategories">
                                                    <a class="tertiaryLevel categoryLevel" ui-sref="base.category( {catName: sub3.slug} )">{{ sub3.name }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
