<!-- mobile navigation only -->
<y-profile-header></y-profile-header>
<div class="mobileNav hidden-lg hidden-md visible-sm visible-xs">
    <nav class="top-navigation row" ng-cloak>
        
        
        <!-- hamburger menu -->
        <div class="col-xs-3">
            <button type="button" class="btn btn-link navbar-btn menu" ng-click="toggleOffCanvas()">
                <span class="hyicon hyicon-menu"></span>
            </button>
        </div>

        <!-- header right -->
        <div class="col-xs-4 text-right">
            <div class="row">

                <!-- site selector -->
                <div class="col-xs-6">
                    <div class="pull-right">
                        <site-selector id="siteSelectorSmall"></site-selector>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>


<!-- dekstop navigation only -->
<div class="desktopNav hidden-xs hidden-sm visible-md visible-lg">

</div>
