<div class="couponApplyContainer">

	<!-- coupon wrapper -->
	<div class="couponContainer">

		<!-- apply coupon bar -->
		<div class="coupon-bar">

			<!-- minimum amount not met error message -->
			<div ng-if="coupon.restrictions.minOrderValue.amount > cart.totalPrice.amount" class="error">
				{{'COUPON_MINIMUM_NOT_MET' | translate}}
			</div>
	
			<!-- coupon error message -->
			<div id="coupon-error-message" ng-if="couponErrorMessage" class="error">
				{{couponErrorMessage}}
			</div>

			<form name="applyCouponForm" class="input-group" ng-class="{ 'has-error': couponErrorMessage }">
				
				<!-- coupon input -->
				<input id="coupon-code" builder-input="couponCode" type="text" name="couponCodeElement" class="form-control couponInput" 
                       ng-model="couponCode" ng-minlength="3" ng-maxlength="24" 
                       placeholder="{{'ADD_COUPON_CODE'|translate}}" required />

				<!-- coupon apply btn -->
				<span class="input-group-btn">
					<button id="apply-coupon" class="btn btn-default" 
                            ng-click="applyCoupon(couponCode, applyCouponForm.couponCodeElement.$invalid)">
						{{'COUPON_APPLY' | translate}}
					</button>
				</span>

			</form>
			
		</div>

	</div>

	<!-- show applied  coupons -->
	<div ng-if="cart.discounts.length">
		<table class="table table-striped coupon-list-table">
			<tbody>
			<tr ng-repeat="discount in cart.discounts" class="techne-table-xs-right techne-table-xs-left">
				<td class="dicsount-code">
					{{discount.code}}
				</td>
				<td>
					<!-- coupon applied -->
					<span ng-if="!discount.discountValidationDetails">{{'COUPON_APPLIED' | translate}}</span>
					
					<!-- coupon not applied -->
					<span ng-if="discount.discountValidationDetails" class="error">{{'COUPON_NOT_APPLIED' | translate}} <br><small>{{discount.discountValidationDetails.details[0]}} </small></span>

				</td>
				<td class="remove-coupon">
					<button id="remove-coupon" ng-click="removeCoupon(discount.id)" class="btn delete btn-link" title="Remove Coupon"><span class="hyicon hyicon-remove"></span></button>
				</td>
			</tr>

			<tbody>
		</table>
	</div>
</div>
