<div>

      <div class="form-group input-group custom-select-container">
          <label class="input-group-addon control-label" for="addressLocale">{{'COUNTRY' | translate}}</label>
          <ui-select ng-model="localeSelection.selected" on-select="changeLocale($item)">
              <ui-select-match>
                  {{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="item in (localeSelections | filter: $select.search) track by item.id">
                  {{item.name}}
              </ui-select-choices>
          </ui-select>
      </div>

      <div class="form-group input-group"
          ng-class="{'has-error': addressForm.zip.$invalid && (addressForm.zip.$dirty || showPristineErrors) }">
          <label class="input-group-addon control-label" for="zipCodeAdd">{{'POSTAL_CODE' | translate}}</label>
          <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
          class="form-control" id="zipCodeAdd" name="zip" required autocomplete="on" ng-model="address.zipCode"
          ng-required="addressForm.country.$viewValue.id === 'CN'">
      </div>

      <div class="form-group input-group"
          ng-class="{'has-error': addressForm.state.$invalid && (addressForm.state.$dirty || showPristineErrors) }">
          <label class="input-group-addon control-label" for="provinceAdd">{{'PROVINCE' | translate}}</label>
          <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
          class="form-control" id="provinceAdd" name="state" required autocomplete="on" ng-model="address.state"
          ng-required="addressForm.country.$viewValue.id === 'CN'">
      </div>

      <div class="form-group input-group"
          ng-class="{'has-error': addressForm.city.$invalid && (addressForm.city.$dirty || showPristineErrors) }">
          <label class="input-group-addon control-label" for="cityAdd">{{'CITY' | translate}}</label>
          <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
          class="form-control" id="cityAdd" name="city" required autocomplete="on" ng-model="address.city"
          ng-required="addressForm.country.$viewValue.id === 'CN'">
      </div>

      <div class="form-group input-group"
          ng-class="{'has-error': addressForm.street.$invalid && (addressForm.street.$dirty || showPristineErrors) }">
          <label class="input-group-addon control-label" for="streetAdd">{{'STREET_NAME' | translate}}</label>
          <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
          class="form-control" id="streetAdd" name="street" autocomplete="on" ng-model="address.street"
          ng-required="addressForm.country.$viewValue.id === 'CN'">
      </div>

      <div class="form-group input-group">
          <label class="input-group-addon control-label" for="address2Add">{{'BUILDING_NAME' | translate}}</label>
          <input type="text" class="form-control" placeholder="(Optional)" id="address2Add" name="address2"
          ng-model="address.streetAppendix">
      </div>

      <!-- <div class="form-group input-group">
          <label class="input-group-addon control-label" for="address1Add">{{'ROOM_NUMBER' | translate}}</label>
          <input type="text" class="form-control" name="address1" placeholder="(Optional)" id="address1Add" ng-model="address.address1">
      </div> -->

      <div class="form-group input-group"
           ng-class="{'has-error': addressForm.contactName.$invalid && (addressForm.contactName.$dirty || showPristineErrors) }">
          <label class="input-group-addon control-label" for="contactNameAdd">{{'FULL_NAME' | translate}}</label>
          <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
                  class="form-control" id="contactNameAdd" name="contactName" ng-model="address.contactName"
                 required autocomplete="on" ng-required="addressForm.country.$viewValue.id === 'CN'">
      </div>

      <div class="form-group input-group">
          <label class="input-group-addon control-label" for="companyNameAdd">{{'COMPANY_NAME' | translate}}</label>
          <input type="text" class="form-control" id="companyNameAdd"  placeholder="(Optional)" name="companyName" ng-model="address.companyName" autocomplete="on">
      </div>

      <div class="form-group input-group">
        <label class="input-group-addon control-label" for="contactPhone">{{'CONTACT_PHONE' | translate}}</label>
        <input type="text" class="form-control" id="contactPhone" placeholder="(Optional)" name="contactPhone" ng-model="address.contactPhone" autocomplete="on" ng-keydown="saveOnEnter($event, address, addressForm.$valid, addressForm.$name)">

      </div>
</div>