<div>

    <div class="col-lg-12">
        <span class="form-block-headline">{{'BILLING_ADDRESS' | translate}}</span>
    </div>

    <div class="col-lg-12" ng-if="user.isAuthenticated && (addresses.length > 1)">
        <div class="form-group">
            <button class="btn btn-default btn-lg btn-block" id="select-address-btn-1" ng-click="openAddressDialog(order.billTo)">{{'SELECT_FROM_ADDRESS_BOOK' | translate}}</button>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="form-group input-group"
            ng-class="{'has-error': billToForm.country.$invalid && ( billToForm.country.$dirty || showPristineErrors) }">
            <label class="input-group-addon control-label" for="countryBill">{{'COUNTRY' | translate}}</label>
            <select class="form-control" ng-model="localeSelection" ng-options="item as item.name for item in localeSelections" 
                ng-change="changeLocale(localeSelection)" id="countryBill" name="country" 
                inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" required>
            </select>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="form-group input-group"
            ng-class="{'has-error': billToForm.postal.$invalid && (billToForm.postal.$dirty || showPristineErrors) }">
            <label class="input-group-addon control-label" for="zipCodeBill">{{'POSTAL_CODE' | translate}}</label>
            <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
            class="form-control" id="zipCodeBill" name="postal" required autocomplete="on"
            ng-model="order.billTo.zipCode" ng-change="$root.closeCartOnCheckout()">
        </div>
    </div>

    <div class="col-lg-6">
        <div class="form-group input-group"
            ng-class="{'has-error': billToForm.province.$invalid && (billToForm.province.$dirty || showPristineErrors) }">
            <label class="input-group-addon control-label" for="provinceBill">{{'PROVINCE' | translate}}</label>
            <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
            class="form-control" id="provinceBill" name="province" ng-required="billToForm.country.$viewValue.id === 'CN'" autocomplete="on" ng-model="order.billTo.state" 
            ng-change="$root.closeCartOnCheckout()">
        </div>
    </div>

    <div class="col-lg-6">
        <div class="form-group input-group"
            ng-class="{'has-error': billToForm.city.$invalid && (billToForm.city.$dirty || showPristineErrors) }">
            <label class="input-group-addon control-label" for="cityBill">{{'CITY' | translate}}</label>
            <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
            class="form-control" id="cityBill" name="city" required autocomplete="on"
            ng-model="order.billTo.city" ng-change="$root.closeCartOnCheckout()">
        </div>
    </div>

    <div class="col-lg-6">
        <div class="form-group input-group"
            ng-class="{'has-error': billToForm.streetBill.$invalid && (billToForm.streetBill.$dirty || showPristineErrors) }">
            <label class="input-group-addon control-label" for="address3Bill">{{'STREET_NAME' | translate}}</label>
            <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
                class="form-control" id="address3Bill" name="streetBill" required autocomplete="on"
                ng-model="order.billTo.address1" ng-change="$root.closeCartOnCheckout()">
        </div>
    </div>

    <div class="col-lg-6">
        <div class="form-group input-group">
            <label class="input-group-addon control-label" for="address2Bill">{{'BUILDING_NAME' | translate}}</label>
            <input type="text" class="form-control" placeholder="(Optional)" id="address2Bill" name="address2"
            ng-model="order.billTo.address2" ng-change="$root.closeCartOnCheckout()">
        </div>
    </div>

    <div class="col-lg-6">
        <div class="form-group input-group"
             ng-class="{'has-error': billToForm.contactName.$invalid && (billToForm.contactName.$dirty || showPristineErrors) }">
            <label class="input-group-addon control-label" for="contactNameBill">{{'FULL_NAME' | translate}}</label>
            <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
                class="form-control" id="contactNameBill" name="contactName" ng-model="order.billTo.contactName"
                required autocomplete="on" ng-change="$root.closeCartOnCheckout()">
        </div>
    </div>

    <div class="col-lg-6">
        <div class="form-group input-group">
            <label class="input-group-addon control-label" for="companyNameBill">{{'COMPANY_NAME' | translate}}</label>
            <input type="text" class="form-control" id="companyNameBill" name="companyName" ng-model="order.billTo.companyName"
                   autocomplete="on" placeholder="(Optional)" ng-change="$root.closeCartOnCheckout()">
        </div>
    </div>

    <div class="col-lg-6">
        <div class="form-group input-group">
            <label class="input-group-addon control-label" for="contactPhoneBill">{{'CONTACT_PHONE' | translate}}</label>
            <input type="text" class="form-control" id="contactPhoneBill" name="contactPhone" ng-model="order.billTo.contactPhone"
                   autocomplete="on" placeholder="(Optional)" ng-change="$root.closeCartOnCheckout()">
        </div>
    </div>
</div>