<!-- billing default -->
<div>

    <div ng-hide="shipToSameAsBillTo">

    <!-- country -->
    <div class="col-md-4 custom-select-container checkout-selector">
        <div class="form-group input-group"
            ng-class="{'has-error': !billToForm.country.$viewValue.id && ( billToForm.country.$dirty || showPristineErrors) }">
            <label class="input-group-addon control-label" for="countryBill">{{'COUNTRY' | translate}}</label>
            <ui-select ng-model="order.billTo.country" on-select="setLocale($item)" ng-required="!shipToSameAsBillTo" id="countryBill" name="country">
                <ui-select-match>
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="item.id as item in (localeSelections | filter: $select.search) track by item.id">
                    {{item.name}}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>    

    <!-- name -->
    <div class="col-md-8">
        <div class="form-group input-group"
             ng-class="{'has-error': billToForm.contactName.$invalid && (billToForm.contactName.$dirty || showPristineErrors) }">
            <label class="input-group-addon control-label" for="contactNameBill">{{'NAME' | translate}}</label>
            <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" 
                   class="form-control" id="contactNameBill" name="contactName" ng-model="order.billTo.contactName"
                   ng-required="!shipToSameAsBillTo" autocomplete="on" ng-change="$root.closeCartOnCheckout()">
        </div>
    </div>

    <!-- company -->
    <!-- <div class="col-md-4">
        <div class="form-group input-group">
            <label class="input-group-addon control-label" for="companyNameBill">{{'COMPANY_NAME' | translate}}</label>
            <input type="text" class="form-control" id="companyNameBill" name="companyName" ng-model="order.billTo.companyName"
            autocomplete="on" placeholder="({{'OPTIONAL' | translate}})" ng-change="$root.closeCartOnCheckout()">
        </div>
    </div> -->

    <!-- address 1 -->
    <div class="col-md-4">
        <div class="form-group input-group"
            ng-class="{'has-error': billToForm.address1.$invalid && (billToForm.address1.$dirty || showPristineErrors) }">
            <label class="input-group-addon control-label" for="address1Bill">{{'ADDRESS' | translate}}</label>
            <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" 
            class="form-control" name="address1" id="address1Bill" ng-model="order.billTo.address1"
            ng-required="!shipToSameAsBillTo" autocomplete="on" ng-change="$root.closeCartOnCheckout()">
        </div>
    </div>

    <!-- address 2 -->
    <div class="col-md-4">
        <div class="form-group input-group">
            <label class="input-group-addon control-label" for="address2Bill">{{'ADDRESS' | translate}} 2</label>
            <input type="text" class="form-control" placeholder="({{'OPTIONAL' | translate}})" id="address2Bill" name="address2"
            ng-model="order.billTo.address2" ng-change="$root.closeCartOnCheckout()">
        </div>
    </div>

    <!-- city -->
    <div class="col-md-4">
        <div class="form-group input-group"
            ng-class="{'has-error': billToForm.city.$invalid && (billToForm.city.$dirty || showPristineErrors) }">
            <label class="input-group-addon control-label" for="cityBill">{{'CITY' | translate}}</label>
            <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
            class="form-control" id="cityBill" name="city" ng-required="!shipToSameAsBillTo" autocomplete="on"
            ng-model="order.billTo.city" ng-change="$root.closeCartOnCheckout()">
        </div>
    </div>

    <!-- state -->
    <div class="col-md-4">
    	<div class="form-group input-group"
            ng-class="{'has-error': billToForm.state.$invalid && (billToForm.state.$dirty || showPristineErrors) }">
            <label class="input-group-addon control-label" for="stateBill">{{'STATE' | translate}}</label>
            <input type="text" class="form-control" id="stateBill" name="state" autocomplete="on"
            ng-model="order.billTo.state" ng-change="$root.closeCartOnCheckout()" placeholder="({{'OPTIONAL' | translate}})">
        </div>
    </div>

    <!-- zip code  -->
    <div class="col-md-4">
        <div class="form-group input-group"
            ng-class="{'has-error': billToForm.postal.$invalid && (billToForm.postal.$dirty || showPristineErrors) }">
            <label class="input-group-addon control-label" for="zipCodeBill">{{'ZIP' | translate}}</label>
            <input type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
            class="form-control" id="zipCodeBill" name="postal" ng-required="!shipToSameAsBillTo" autocomplete="on"
            ng-model="order.billTo.zipCode" ng-change="$root.closeCartOnCheckout()">
        </div>
    </div>

    <!-- contact phone -->
    <div class="col-md-4">
        <div class="form-group input-group">
            <label class="input-group-addon control-label" for="contactPhoneBill">{{'CONTACT_PHONE' | translate}}</label>
            <input type="text" class="form-control" id="contactPhoneBill" name="contactPhone" ng-model="order.billTo.contactPhone"
                   autocomplete="on" placeholder="({{'OPTIONAL' | translate}})" ng-change="$root.closeCartOnCheckout()">
        </div>
    </div>

    </div>

</div>