.checkout{
	background: @lightestgrey;

	.section{
		margin: 0;

	}

	.error{
		padding: 4px 0;
	}

	h1{

		color: @darkestgrey;
		text-transform: uppercase;
		font-weight: normal;

		small{
			color: @defaultblue;
			font: italic 14px/30px @font-family-serif, sans-serif;
			text-transform: none;
			display: block;
		}
	}

	h2{
		font: italic bold 19px/30px @font-family-serif, sans-serif;
		color: @darkestgrey;

		.glyphicon-pencil{
			.hidden-lg;
			.hidden-md;
			float: right;
		}
	}
	.steps{
        padding: 30px;
        background-color: #fafafa;

        .input-group-addon{
            min-width: 100px;
            text-align: left;
        }

        .step{
            .clearfix;
            margin: 15px 0;
        }

        .checkbox{
            .option{
                color: @darkestgrey;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: bold;
                display: block;
            }
            .adress{

                font: italic 14px @font-family-serif, sans-serif;
                color: @darkgrey;
            }
        }

        /* MOBILE SECTIONS */
        @media screen and (max-width: @screen-sm-max) {

            h2{
                text-align: center;
                padding: 10px;
                margin: 0px;
            }

            .disabled{

                h2{
                    color: @darkgrey;
                    background: @lightgrey;
                }
                .row{
                    .hidden();
                }
            }
            .done{
                h2{
                    color: @darkergrey;
                    background: @lightgrey;
                }
                .row{
                    .hidden();
                }

            }

        }
        @media screen and (max-width: @screen-sm-min) {
            h1{
                text-align: center;
            }
        }
	}


	.checkout-cart{
		.CheckoutCartContainer{
			margin:   0 -15px;

			@media (min-width: 768px){
				margin-top: 156px;
			}
		}

		.cart-item.row{
			margin: 0 -30px;
			padding: 20px 13px;
		}

		.excerpt{
			border-bottom: 1px solid #bebebe;
			overflow: hidden;
			padding-top: 4px;
		}

		.price{margin-bottom: 0;}

		h2{
			margin-left: 30px;
			margin-bottom: 0;
		}

		.summary{
			padding: 30px 20px;
		}
	}

	.confirm.step-detail{
        padding: 15px;
        background: @lightgrey;

        .description, .value{
            display: inline-block;
            padding: 0 10px 10px;
            font-size: 16px;
            text-transform: uppercase;
        }
	}
}

#place-order-btn{
  background-color: #20c909;
  border-color:  #20c909;
}

.order-detail{
    height: auto !important;
    background: @lightergrey;
    padding:40px 0 0;
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
        margin: 40px 0 0;
        padding: 0px;
    }
    @sidepadding: 35px;

    h2{
        padding: 10px @sidepadding 0;
    }
    section{
        padding: 15px 0 0 0;

        &.summary,
        &.excerpt{
            padding: 10px @sidepadding 0;
        }

        &.excerpt{
            text-transform: uppercase;
            color: @darkergrey;
            font-size: 16px;
            border-bottom: 1px solid @defaultgrey;
            overflow: hidden;
            padding-bottom: 30px;
        }
    }
}

.addressBookModal .modal-dialog{
  width: 85% !important;
}

#checkout-cart-btn{
  margin-right: 30px;
  display: inline-block !important;
}
.step-4 #checkout-cart-btn{
  margin-right: 0;
}


.couponApplyContainer{
  padding: 15px 0 40px 15px;
	overflow: hidden;

  input{
    width: 60%;

  }
  .couponInputBtn{
    height: 34px;
		width: 40%;
  }
}

.cartTaxConfiguration{
  input, select{
    margin-bottom: 10px;

  }
  .btn{
    width: 100%;
  }

}