.confirm{

	.order-summary{
			padding: 30px;
	}
	.text-center;

	address{
		font-size: 19px;
		text-transform: uppercase;
	}

	h3{
		font-family: @font-family-serif, "Times New Roman", serif;
		font-style: italic;	
		font-size: 19px;
		padding-top: 30px;
		padding-bottom: 10px;
	}

	p{
		padding-bottom: 20px;
	}

	.highlight{
		color: @lightblue;
	}

	hr{
		padding-top: 15px;
		border-color: #d2d2d2;
		width: 46px;
		text-align: left;
	}

	.success-box{
  		background-color: green;
  		height: 44px;
  		font-size: 16px;
  		padding-top: 8px;
  		padding-left: 20px;
  		color: #FFFFFF;
  	}

	.support-box{
		padding-top: 20px;
	}

	.well{
		padding-top: 5px;
		h3{
			padding-top: 0px;
			margin-bottom: 5px;
			font-weight: bold;
		}
		p{
			padding-top: 0px;
			font-family: @font-family-serif, "Times New Roman", serif;
			font-style: italic;	
			font-size: 14px;
		}
	}

	.order-detail{
		.subheadline{
			font-family: @font-family-serif, "Times New Roman", serif;
			font-style: italic;
			color: @darkestgrey;	
			font-size: 26px;
			text-align: center;
		}
		.cart-item.item-attr{
            margin-bottom: 0px;
            margin-top: 0px;
    	}
	}

	@media screen and (min-width: @screen-sm-min) {
		.text-left;

		hr{
			margin-left: 0;
		}
	}

}