.y-profile-toolbox {
  position: fixed;
  right: 0;
  top: 40%;
  width: 220px;
  color: #fff;
  background: @sapyellow;
  z-index: 100;
  padding: 10px;

  & h4 {
    color: #624907;
  }

  & ul {
    list-style-type: square;
    padding-left: 10px;

    & li {
      margin-bottom: 5px;
    }
  }

  & a {
    color: #fff;
  }

  & .truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-weight: 300;
  }
}

.y-profile-header {
  width: 100%;
  background: @sapyellow;
  color: #fff;
  padding: 10px;
  z-index: 100001;
  font-weight: 500;
  margin-bottom: 10px;
  & h1 {
    & a {
      color: #624907;
      text-decoration: none;
    }

  }
}