.y-profile-header {
  width: 100%;
  background: #000;
  color: @sapyellow;
  padding: 10px 60px 10px 60px;
  z-index: 100001;
  font-weight: 500;
  & h1 {
    & a {
      color: #fff;
      text-decoration: none;
    }
    & .logo {
      float: right;
      width: 183px;
      display: block;
      margin-top: 5px;
    }
  }
  & .check {
    color: #fff;
  }
}