<div class="product-extension-item">
    <div ng-switch="type">
        <div ng-switch-when="array">
            <ng-include src="'js/app/products/templates/product-extension-item/_array.html'"></ng-include>
        </div>
        <div ng-switch-when="object">
            <ng-include src="'js/app/products/templates/product-extension-item/_object.html'"></ng-include>
        </div>
        <div ng-switch-default>
            <ng-include src="'js/app/products/templates/product-extension-item/_default.html'"></ng-include>
        </div>
    </div>
</div>