<ybreadcrumb yitem="breadcrumbData" size="'small'"></ybreadcrumb>
<div class="productDetailsContainer">
    <section class="white " ng-cloak>
        <div class="row">
            <div class="col-md-6">
                <div class="gallery product-gallery">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="image">
                                <div ng-repeat="image in product.product.media">
                                    <img class="lazyOwl" data-src="{{image.url}}" data-zoom="{{image.url}}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class=" thumbnails" ng-if="product.product.media && product.product.media.length > 1">
                                <a ng-repeat="image in product.product.media" class="item" href="#">
                                    <img class="lazyOwl" data-src="{{image.url}}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-details text-center">
                    <h1 class="pageTitle">
                        {{product.product.name}}
                    </h1>
                    <div ng-if="product.prices[0].salePrice" class="price">
                        <span class="price originalPrice"><strike>{{ product.prices[0].originalAmount | currency: currencySymbol }}</strike></span>
                        <span class="price salesPrice">{{product.prices[0].effectiveAmount | currency: currencySymbol}}</span>
                        <span class="priceUnit salesPrice" ng-if="product.prices[0].measurementUnit">{{product.prices[0].measurementUnit.quantity}} {{product.prices[0].measurementUnit.unitCode}}</span>
                    </div>
                    <div ng-if="!product.prices[0].salePrice" class="price">
                        <span class="price">{{product.prices[0].effectiveAmount | currency: currencySymbol}}</span>
                        <span class="priceUnit" ng-if="product.prices[0].measurementUnit">{{product.prices[0].measurementUnit.quantity}} {{product.prices[0].measurementUnit.unitCode}}</span>
                    </div>
    
                    <div class="taxMessage" ng-if="!!taxConfiguration && taxConfiguration.label">
                        {{taxConfiguration.label}}
                    </div>

                    <form action="" class="cartPanel">
                        <div class="row" >
                            <div class="col-md-4 col-md-offset-4">
                                <div class="form-group input-group qty">
                                    <label class="input-group-addon control-label" for="qty" >{{'QTY' | translate}}: </label>
                                    <input quantity-input type="number" id="qty" min="1" step="1" pattern="\d*" class="form-control quantity"
                                        ng-model="productDetailQty" ng-change="changeQty(event)">
                                </div>
                            </div>
                        </div>  
    
                        <div class="row">
                            <div ng-if="error" class="col-md-12 col-lg-12">
                                <div class="error" >
                                    <small class="help-inline has-error">
                                        {{'ERROR_ADDING_TO_CART' | translate}}
                                    </small>
                                </div>
                            </div>
                            <div  class="col-md-12 col-lg-12 buyButton">
                                <button id="buy-button" ng-show="{{product.product.mixins.inventory.inStock}}" class="btn btn-primary " ng-click="addToCartFromDetailPage()" ng-disabled="!buyButtonEnabled">{{'ADD_TO_CART' | translate}}</button>
                                <button id="out-of-stock-btn" ng-show="{{!product.product.mixins.inventory.inStock}}" class="btn btn-primary ">{{'OUT_OF_STOCK' | translate}}</button>
                            </div>
                            <div class="col-xs-12" ng-if="!noShippingRates">
                                <a href=""><span ng-click="showShippingRates()">Shipping Rates</span></a>
                            </div>
                        </div>
                    </form>
                </div> 
            </div>
        </div>
    </section>

    <section class="gray">
        <div class="row">
            <div ng-class="{'col-md-6' : hasAnyOfAttributesSet(product.product)}">
                <div class="headline">{{'PRODUCT_DESCRIPTION' | translate}}</div>
                <div class="description">
                    {{product.product.description}}
                </div>
            </div>

            <div class="col-md-6" ng-if="hasAnyOfAttributesSet(product.product)">
                <div class="headline">{{'PRODUCT_DETAILS' | translate}}</div>
                <product-attribute-groups product="product.product"></product-attribute-groups>
            </div>
        </div>
    </section>
</div>

<script src="js/vendor-static/jquery.min.js"></script>
<script src="js/vendor-static/bootstrap.min.js"></script>
<script src="js/vendor-static/owl.carousel.js"></script>
<script src="js/vendor-static/img-touch-canvas.js"></script>
<script src="js/vendor-static/jquery.fullscreen-min.js"></script>
<script src="js/vendor-static/main.js"></script>


