<div class="product-details-item">
    <div ng-switch="type">
        <div ng-switch-when="array">
            <ng-include src="'js/app/products/templates/product-details-item/_array.html'"></ng-include>
        </div>
        <div ng-switch-when="object">
            <ng-include src="'js/app/products/templates/product-details-item/_object.html'"></ng-include>
        </div>
        <div ng-switch-when="boolean">
            <ng-include src="'js/app/products/templates/product-details-item/_boolean.html'"></ng-include>
        </div>
        <div ng-switch-when="string">
            <ng-include src="'js/app/products/templates/product-details-item/_string.html'"></ng-include>
        </div>
        <div ng-switch-default>
            <ng-include src="'js/app/products/templates/product-details-item/_default.html'"></ng-include>
        </div>
    </div>
</div>