<section class="gray" match-background>
    <div class="hero-unit">
        <blockquote style="background-image: url('{{category.image}}' );background-position:0 0;">
            <p>{{store.name}}</p>

        </blockquote>

    </div>
    <div class="row productListingBreadCrumb" ng-cloak>
        <div ng-if="category.name" class="col-xs-12 col-sm-6  title breadCrumbText">

            <a ng-repeat="cat in category.path" ng-if="!$last" ui-sref="base.category({catName: cat.slug})" id="bc{{cat.id}}">
                <span ng-if="!$first"> / </span>
                {{cat.name}}
            </a>
            <span ng-if="category.path && category.path.length > 1"> / </span>
            {{category.path[category.path.length -1].name}}
          
        </div>
    </div>
    <div class="refine-section" ng-cloak>

        <div class="row">

            <div ng-if="category.name" class="col-xs-12 col-sm-6  title">{{ category.name }}</div>
            <div ng-if="!category.name" class="col-xs-12 col-sm-6  title">{{ 'ALL_PRODUCTS' | translate }}</div>
            <div class="col-sm-6 col-md-6">
                <div class="viewingContainer">
                    <div class="name">{{'VIEWING' | translate}}:</div>
                    <div class="page-indicator">{{productsFrom}}-{{productsTo}} {{'OF' | translate}} {{total}}</div>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="clearfix visible-sm"></div>
            <div class="col-sm-7 col-md-6 col-lg-3">
                <div class="sortContainer">
                    <div class="name">{{'SORT_BY' | translate}}:</div>
                    <div class="form-group">
                        <label for="" class="sr-only">{{'SORT_BY' | translate}}:</label>

                        <div>
                            <span class='css-select-moz'>
                                <select ng-model="sort" ng-change="setSortedPage()" class="form-control">
                                    <option value="name">A-Z</option>
                                    <option value="name:desc">Z-A</option>
                                    <option value="created:desc">{{'NEWEST' | translate}}</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div id="refineAffix" class=" refine-section responsive-fixed">
        <div class="row">

            <div class="col-xs-12">
                <div class="viewingContainer">
                    <div class="name">{{'VIEWING' | translate}}:</div>
                    <div class="page-indicator">{{productsFrom}}-{{productsTo}} {{'OF' | translate}} {{total}}</div>

                </div>
            </div>
        </div>
    </div>

    <!-- Note:  infinite-scroll directive must not be combined with ng-repeat:  http://binarymuse.github.io/ngInfiniteScroll/faq.html  -->
    <div class="row product-grid" infinite-scroll="addMore()" infinite-scroll-distance="0" infinite-scroll-immediate-check="false" ng-cloak>
        <div class="item col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="product in products">
            <a ui-sref="base.product.detail( {productId: product.id} )">
                <div class="thumb">
                    <img ng-src="{{ product && product.mainImageURL || PLACEHOLDER_IMAGE}}" alt="">

                </div>
                <div class="productInfoContainer">
                    <div class="name">{{ product.name }}</div>
                    <div class="price">{{ prices[product.id].value | currency: currencySymbol}}</div>
                </div>
            </a>
        </div>
    </div>

	<button type="button" id="to-top-btn" ng-click="backToTop()" class="btn btn-link back-to-top-button pull-left menu">
		<span class="hyicon hyicon-chevron-bold-up" />
	</button>
</section>


<script src="js/vendor-static/img-touch-canvas.js"></script>
<script src="js/vendor-static/jquery.fullscreen-min.js"></script>
<script src="js/vendor-static/main.js"></script>


