<!-- bread crumbs -->
<ybreadcrumb yitem="breadcrumbData" size="'small'"></ybreadcrumb>

<div class="productDetailsContainer" ng-cloak>
    <section class="white">
        <div class="row">

            <!-- product gallery -->
            <div class="col-md-6">
                <div class="product-gallery">
                    <div class="row">
                        <product-img-carousel images="product.media"></product-img-carousel>
                    </div>
                </div>
            </div>

            <!-- product details -->
            <div class="col-md-6">
                <div class="product-details text-center">

                    <!-- product name -->
                    <h1 class="pageTitle">{{product.name}}</h1>

                    <div ng-if="product.isBuyable && product.prices[0]">
                        <!-- product sale price -->
                        <div ng-if="product.prices[0].salePrice" class="price">
                            <span id="original-price" class="price originalPrice"><strike>{{ product.prices[0].originalAmount | currency: currencySymbol }}</strike></span>
                            <span id="sales-price" class="price salesPrice">{{product.prices[0].effectiveAmount | currency: currencySymbol}}</span>
                            <span ng-if="product.prices[0].measurementUnit" class="price">/</span>
                            <br>
                            <span class="priceUnit" ng-if="product.prices[0].measurementUnit">{{product.prices[0].measurementUnit.quantity}} {{product.prices[0].measurementUnit.unitCode}}</span>
                        </div>

                        <!-- product price -->
                        <div ng-if="!product.prices[0].salePrice" class="price">
                            <span id="effective-amount" class="price">{{product.prices[0].effectiveAmount | currency: currencySymbol}}</span>
                            <span ng-if="product.prices[0].measurementUnit" class="price">/</span>
                            <br>
                            <span id="measurement-unit-quantity" class="priceUnit" ng-if="product.prices[0].measurementUnit">{{product.prices[0].measurementUnit.quantity}} {{product.prices[0].measurementUnit.unitCode}}</span>
                        </div>
                    </div>

                    <!-- product tax -->
                    <div id="tax-message" class="taxMessage" ng-if="!!taxConfiguration && taxConfiguration.label">
                        <div ng-if="taxConfiguration.label.length <= 60 || taxConfiguration.seeMoreClicked">
                            {{taxConfiguration.label}}
                        </div>
                        <div ng-if="taxConfiguration.label.length > 60 && !taxConfiguration.seeMoreClicked">
                            {{taxConfiguration.shortenedLabel}}... 
                            <a ng-click="taxConfiguration.seeMoreClicked = true">{{'MORE' | translate}}</a>
                        </div>
                    </div>


                    <!-- product options -->
                    <product-options variants="variants" selected-variant="selectedVariant" on-active-variant-changed="onActiveVariantChanged(activeVariant)"></product-options>

                    <div ng-if="product.isBuyable">
                        <form action="" class="cartPanel" ng-show="product.prices[0] && product.inStock">

                            <!-- product quantity -->
                            <div class="row product-options">
                                <div class="col-md-8 col-md-offset-2 custom-select-container">
                                    <div class="form-group input-group qty">
                                        <label class="input-group-addon control-label" for="qty">{{'QTY' | translate}}: </label>
                                        <input quantity-input type="number" id="qty" min="1" step="1" pattern="\d*" class="form-control quantity" ng-model="$parent.productDetailQty"
                                            ng-change="changeQty(event)">
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <!-- error notification -->
                                <div ng-if="error" class="col-md-8 col-md-offset-2">
                                    <div class="error">
                                        <small class="help-inline has-error">
                                            {{'ERROR_ADDING_TO_CART' | translate}}
                                        </small>
                                    </div>
                                </div>

                                <!-- add to cart -->
                                <div class="col-md-8 col-md-offset-2">
                                    <button id="buy-button" type="button" class="btn btn-primary btn-block buyButton" ng-click="addToCartFromDetailPage()"
                                        ng-disabled="!buyButtonEnabled">{{'ADD_TO_CART' | translate}}</button>
                                </div>

                                <!-- product fees -->
                                <div class="col-md-8 col-md-offset-2">
                                    <product-fees fees="productFees"></product-fees>
                                </div>

                                <!-- shipping rates -->
                                <div class="col-md-8 col-md-offset-2 shipping-rate" ng-if="!noShippingRates">
                                    <a href=""><span ng-click="showShippingRates()">Shipping Rates</span></a>
                                </div>
                            </div>
                        </form>

                        <!-- unavialable button -->
                        <div class="row" ng-if="!product.prices[0]">
                            <div class="col-md-8 col-md-offset-2">
                                <button id="out-of-stock-btn" class="btn btn-default btn-block buyButton" disabled>{{'UNAVAILABLE' | translate}}</button>
                            </div>
                        </div>

                        <!-- out of stock button -->
                        <div class="row" ng-if="product.prices[0] && !product.inStock">
                            <div class="col-md-8 col-md-offset-2">
                                <button id="out-of-stock-btn" class="btn btn-default btn-block buyButton" disabled>{{'OUT_OF_STOCK' | translate}}</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{active: activeTab === 'description'}">
                    <a href="" ng-click="openTab('description'); $event.preventDefault();">{{'DESCRIPTION_TAB' | translate}}</a>
                </li>

                <li role="presentation" ng-class="{active: activeTab === 'details'}">
                    <a href="" ng-click="openTab('details'); $event.preventDefault();">{{'DETAILS_TAB' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>

    <section class="gray">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" ng-class="{active: activeTab === 'description'}" id="description">
                        <!-- product description -->
                        <div class="headline">{{'PRODUCT_DESCRIPTION' | translate}}</div>

                        <div id="product-description-text" class="description">
                            {{product.description}}
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" ng-class="{active: activeTab === 'details'}" id="details">
                        <!-- product detials -->
                        <div class="headline">{{'PRODUCT_DETAILS' | translate}}</div>

                        <product-extension schema-url="{{productMixinsDefinitions[id]}}" mixin="mixin" ng-repeat="(id, mixin) in productMixins track by $index"></product-extension>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>