<table class="table">
    <thead>

    <tr>
        <th>{{'EST_ORDER_TOTAL' | translate}}</th>
        <th class="text-right">{{ (cart.subTotalPrice.amount-cart.totalDiscount.amount>0)? cart.subTotalPrice.amount-cart.totalDiscount.amount : 0 || 0 | currency: currencySymbol}}</th>
    <tr>

    </thead>

    <tbody>

    <tr>
        <td >{{'SUBTOTAL' | translate}} ( {{cart.totalUnitsCount || 0}} {{'ITEM' | translate}}{{cart.totalUnitsCount == 1 ? '' :'s'}} )
        </td>
        <td class="text-right">
            {{cart.subTotalPrice.amount | currency: currencySymbol}}
        </td>
    </tr>

    <tr ng-if="cart.discounts.length">
        <td>{{'DISCOUNT' | translate}}</td>
        <td class="text-right">
            <span class="error">-{{cart.totalDiscount.amount | currency: currencySymbol}}</span>
        </td>
    </tr>

    </tbody>
</table>