<!-- Modal -->
<form name="addressForm" ng-submit="save(address, addressForm.$valid, addressForm.$name)" novalidate>
  <div class="modal-header">
    <button class="close" ng-click="closeAddressModal()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">{{'ADD_ADDRESS' | translate}}</h4>
  </div>
  <div class="modal-body">
    <!-- Errors -->
    <ul ng-if="errors && errors.length" class="list-unstyled text-danger">
      <li ng-repeat="error in errors">{{error.message}}</li>
    </ul>

      <input type="hidden" name="id" ng-model="address.id">
      <input type="hidden" name="account" ng-model="address.account">
      <div class="form-group input-group"
        ng-class="{'has-error': addressForm.contactName.$invalid && (addressForm.contactName.$dirty  || showPristineErrors)}">
        <span class="input-group-addon"><label class="control-label" for="contactName">{{'CONTACT_NAME' | translate}}</label></span>
        <input inline-error-input inline-error-input-required-message="{{'CONTACT_NAME' | translate}}" type="text" class="form-control ui-autocomplete" id="contactName" name="contactName" ng-model="address.contactName" required autocomplete="on">
      </div>
  <!-- 
      <div class="form-group input-group"
        ng-class="{'has-error': addressForm.firstName.$invalid && (addressForm.firstName.$dirty  || showPristineErrors)}">
        <span class="input-group-addon"><label class="control-label" for="firstName">{{'FIRST_NAME' | translate}}</label></span>
        <input inline-error-input inline-error-input-required-message="{{'FIRST_NAME_REQUIRED' | translate}}" type="text" class="form-control ui-autocomplete" id="firstName" name="firstName"
        ng-model="address.firstName" required autocomplete="on">
      </div>
      <div class="form-group input-group"
        ng-class="{'has-error': addressForm.lastName.$invalid && (addressForm.lastName.$dirty || showPristineErrors) }">
        <span class="input-group-addon"><label class="control-label" for="lastName">{{'LAST_NAME' | translate}}</label></span>
        <input type="text" inline-error-input inline-error-input-required-message="{{'LAST_NAME_REQUIRED' | translate}}" class="form-control" id="lastName" name="lastName" ng-model="address.lastName"
        required autocomplete="on">
      </div>
  -->
  <!-- 
      <div class="form-group input-group"
        ng-class="{'has-error': addressForm.address1.$invalid && (addressForm.address1.$dirty || showPristineErrors) }">
        <span class="input-group-addon"><label class="control-label" for="address1">{{'ADDRESS' | translate}}</label></span>
        <input type="text" inline-error-input inline-error-input-required-message="{{'ADDRESS_REQUIRED' | translate}}" class="form-control" name="address1" id="address1" ng-model="address.address1"
        required autocomplete="on">
      </div>
      
      <div class="form-group input-group">
        <span class="input-group-addon"><label class="control-label" for="address2">{{'ADDRESS' | translate}} 2</label></span>
        <input type="text" class="form-control" placeholder="(Optional)" id="address2" name="address2"
        ng-model="address.address2">
      </div>
  -->
      <div class="form-group input-group" ng-class="{'has-error': addressForm.street.$invalid && (addressForm.street.$dirty  || showPristineErrors)}">
        <span class="input-group-addon"><label class="control-label" for="street">{{'ADDRESS_LINE_1' | translate}}</label></span>
        <input type="text" inline-error-input inline-error-input-required-message required class="form-control" id="street" name="street"
        ng-model="address.street">
      </div>
      <div class="form-group input-group" ng-class="{'has-error': addressForm.streetAppendix.$invalid && (addressForm.streetAppendix.$dirty  || showPristineErrors)}">
        <span class="input-group-addon"><label class="control-label" for="streetAppendix">{{'ADDRESS_LINE_2' | translate}}</label></span>
        <input type="text" inline-error-input inline-error-input-required-message required class="form-control" id="streetAppendix" name="streetAppendix"
        ng-model="address.streetAppendix">
      </div>

      <div class="form-group input-group"
        ng-class="{'has-error': addressForm.country.$invalid && ( addressForm.country.$dirty || showPristineErrors) }">
        <span class="input-group-addon"><label class="control-label" for="country">{{'COUNTRY' | translate}}</label></span>
        <select class="form-control" ng-model="address.country" id="country" name="country" inline-error-input inline-error-input-required-message required>
          <option value=""></option>
          <option value="USA">USA</option>
        </select>
      </div>
      
      <div class="form-group input-group"
        ng-class="{'has-error': addressForm.city.$invalid && (addressForm.city.$dirty || showPristineErrors) }">
        <span class="input-group-addon"><label class="control-label" for="city">{{'CITY' | translate}}</label></span>
        <input type="text" inline-error-input inline-error-input-required-message="{{'CITY_REQUIRED' | translate}}"
        class="form-control" id="city" name="city" required autocomplete="on"
        ng-model="address.city">
      </div>
      
      <div class="form-group input-group"
        ng-class="{'has-error': addressForm.state.$invalid && (addressForm.state.$dirty || showPristineErrors) }">
        <span class="input-group-addon"><label class="control-label" for="state">{{'STATE' | translate}}</label></span>
        <select class="form-control" inline-error-input inline-error-input-required-message="{{'STATE_REQUIRED' | translate}}" required ng-model="address.state" id="state" name="state">
          <option value=""></option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
      </div>
      
      <div class="form-group input-group"
        ng-class="{'has-error': addressForm.zipCode.$invalid && (addressForm.zipCode.$dirty || showPristineErrors) }">
        <span class="input-group-addon"><label class="control-label" for="zipCode">{{'ZIP' | translate}}</label></span>
        <input type="text" inline-error-input inline-error-input-required-message="{{'ZIP_REQUIRED' | translate}}"
        class="form-control" id="zipCode" name="zipCode" required autocomplete="on"
        ng-model="address.zipCode">
      </div>
      <div class="form-group input-group"
        ng-class="{'has-error': addressForm.contactPhone.$invalid && (addressForm.contactPhone.$dirty || showPristineErrors) }">
        <span class="input-group-addon"><label class="control-label" for="contactPhone">{{'CONTACT_PHONE' | translate}}</label></span>
        <input type="text" class="form-control" id="contactPhone" name="contactPhone" ng-model="address.contactPhone" autocomplete="on">
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-lg btn-block" >Save</button>
  </div>
</form>