<div class="modal-header" ng-cloak>
  <button type="button" class="close" ng-click="closeAddressDialog()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{'CLOSE' | translate}}</span></button>
  <h4 class="modal-title" id="myModalLabel">{{'ADDRESS_BOOK' | translate}}</h4>
</div>
<div class="modal-body" stop-event="touchend">
  <div class="row addresses">
    <div ng-include="'./js/app/account/templates/addresses.html'"></div>
  </div>
  <div class="text-center row" ng-show="showAllAddressButton">
    <button class="btn btn-link" ng-show="!showAllAddresses" ng-click="toggleAddresses()">
        {{'SHOW_ALL' | translate}}
        <span class="glyphicon glyphicon-chevron-down"/>
    </button>
    <button class="btn btn-link" ng-show="showAllAddresses" ng-click="toggleAddresses()">
        {{'SHOW_LESS' | translate}}
        <span class="glyphicon glyphicon-chevron-up"/>
    </button>  
  </div>
</div>