<!-- Modal -->
<form name="addressForm" novalidate ng-cloak>
  <div class="modal-header">
    <button class="close" ng-click="closeAddressModal()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'CLOSE' | translate}}</span></button>
    <h4 class="modal-title" id="myModalLabel">{{'ADD_ADDRESS' | translate}}</h4>
  </div>
  <div class="modal-body" stop-event="touchend">

      <input type="hidden" name="id" ng-model="address.id">
      <input type="hidden" name="account" ng-model="address.account">

      <localized-addresses type="addAddress"></localized-addresses>

    <!-- Errors -->
    <ul ng-if="errors && errors.length" class="list-unstyled text-danger">
      <li ng-repeat="error in errors">{{error.message}}</li>
    </ul>

  </div>

  <div class="modal-footer">
    <button type="button" ng-click="closeAddressModal()" class="btn btn-secondary btn-lg">{{'CANCEL' | translate}}</button>
    <buttion id="save-address-btn" class="btn btn-primary btn-lg" ng-click="save(address, addressForm.$valid, addressForm.$name, addressForm)">{{'SAVE' | translate}}</button>
  </div>
</form>