<div address-decorator ng-class="{ 'col-sm-6 col-md-4 col-lg-4': !isDialog, 'col-xs-12 col-sm-6 col-lg-4': isDialog }" ng-repeat="address in addresses | limitTo: showAddressFilter " ng-cloak>
  <div class="panel" ng-class="{'defaultAddress': address.isDefault, disableAddress: disableAddress(address.country)}">
    <div class="panel-body" ng-if="!isDialog">
      <div class="btn-group-vertical pull-right states-toolbar">
        <button id="set-default-btn" class="btn btn-link btn-lg"  ng-if="addresses.length > 1 && !address.isDefault" ng-class="{ active: address.isDefault }" ng-click="setAddressAsDefault(address)"><span class="glyphicon glyphicon-star"></span></button>
        <button class="btn btn-link btn-lg" ng-click="openAddressModal(address, target)"><span class="glyphicon glyphicon-pencil"></span></button>
        <button id="delete-address-btn" class="btn btn-link btn-lg delete" ng-if="!address.isDefault || addresses.length === 1" ng-click="removeAddress(address)"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
      <div class="">
        <address ng-class="{ 'default-address': (address.isDefault && !isDialog) || (address.selected && isDialog) }">
          <span class="contactName">{{address.contactName}}</span> <span ng-if="address.isDefault && addresses.length > 1" class="defaultLabel">(default)</span><br>
	  <span class="addressInfo">
            <span ng-if="address.companyName">{{address.companyName}}<br></span>
            <span>{{address.streetNumber}} {{address.street}}<span ng-if="address.streetAppendix">, {{address.streetAppendix}}</span></span><br>
            <span>{{address.city}}, {{address.state}} {{address.zipCode}}</span><br>
            <span>{{address.country}}</span><br>
            <span>{{address.contactPhone}}</span><br>
	  </span>
        </address>
      </div>
    </div>

    <div class="panel-body" ng-click="ifShipAddressApplicable(address, target)" ng-if="isDialog">
      <div class="btn-group-vertical pull-right states-toolbar">
        <button class="btn btn-link btn-lg" ng-class="{ 'active': address.selected, 'defaultAddress': address.isDefault }" ng-if="address.selected"><span class="glyphicon glyphicon-check"></span></button>
      </div>
      <div class="">
        <address ng-class="{ 'default-address': (address.isDefault && !isDialog) || (address.selected && isDialog) }">
          <span>{{address.contactName}}</span> <em ng-if="address.isDefault">(default)</em><br>
          <span ng-if="address.companyName">{{address.companyName}}<br></span>
          <span>{{address.streetNumber}} {{address.street}}<span ng-if="address.streetAppendix">, {{address.streetAppendix}}</span></span><br>
          <span>{{address.city}}, {{address.state}} {{address.zipCode}}</span><br>
          <span>{{address.country}}</span><br>
          <span>{{address.contactPhone}}</span><br>
          <span ng-show="disableAddress(address.country)" class="list-unstyled text-danger">{{'CANT_BE_SHIPPED' | translate}}</span><br>
        </address>
    </div>

  </div>
  </div>
  <ul ng-if="errors && errors.length && errorAddressId && address.id == errorAddressId" class="list-unstyled text-danger">
    <li ng-repeat="error in errors">{{error.message}}</li>
  </ul>
</div>
<div class="col-sm-12" ng-if="!addresses.length && addresses.headers">
  <p>{{'NO_ADDRESSES' | translate}}</p>
</div>
<div class="col-sm-12" ng-if="!addresses.length && !addresses.headers">
  <p>{{'FAIL_ADDRESSES' | translate}}</p>
</div>
