<div ng-if="!error">
    <div ng-if="!confirmed" class="text-center">
        <h1>Please wait we are trying to confirm</h1>
    </div>

    <div ng-if="confirmed">
        <section class="white" match-background ng-cloak>
            <h2>Email updated</h2>
            <p>
                Your email is now changed
            </p>

            <div class="actionButton clearfix">
                <button class="btn btn-secondary btn-g" ng-click="redirect()">
                    Home
                </button>
            </div>

        </section>
    </div>
</div>

<div ng-if="error">
    <h3 class="text-center">
        {{error}}
    </h3>
</div>