<div class="modal-header" ng-cloak>
  <button type="button" class="close" ng-click="closeEditUserDialog()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="EditAccountModalLabel">{{'UPDATE' | translate}} 
      <span ng-if="mtype == 'user'"> {{'ACCOUNT_DETAILS' | translate}}</span>
      <span ng-if="mtype == 'email'"> {{'EMAIL' | translate}}</span>
  </h4>
</div>
<form name="updateUserInfoForm" ng-submit="updateUserInfo()" novalidate>
    <div class="modal-body">
      <div class="row" ng-if="mtype == 'user'">
        
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <label class="input-group-addon control-label" for="titleAccount">{{'TITLE' | translate}}</label>
                    <select class="form-control" ng-model="account.title" id="titleAccount" name="title">
                        <option value="Mr.">{{'MR' | translate}}</option>
                        <option value="Ms.">{{'MS' | translate}}</option>
                        <option value="Mrs.">{{'MRS' | translate}}</option>
                        <option value="Dr.">{{'DR' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12 col">
                <div class="form-group input-group">
                    <label class="input-group-addon control-label" for="firstNameAccount">{{'FIRST_NAME' | translate}}</label>
                    <input inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" 
                           type="text" class="form-control ui-autocomplete" id="firstNameAccount" name="firstNameAccount"
                    ng-model="account.firstName" required autocomplete="on">
                </div>
            </div>
            <div class="col-lg-12 col">
                <div class="form-group input-group">
                    <label class="input-group-addon control-label" for="middleNameAccount">{{'MIDDLE_NAME' | translate}}</label>
                    <input type="text" class="form-control ui-autocomplete" id="middleNameAccount" name="middleNameAccount"
                           ng-model="account.middleName" autocomplete="on" placeholder="(Optional)">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <label class="input-group-addon control-label" for="lastNameAccount">{{'LAST_NAME' | translate}}</label>
                    <input  type="text" inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
                            class="form-control" id="lastNameAccount" name="lastNameAccount" ng-model="account.lastName"
                    required autocomplete="on">
                </div>
            </div>
            <div class="col-lg-12" ng-if="languageLocales.length > 1">
                <p>Region preferences</p>
                <div class="form-group input-group">
                    <label class="input-group-addon control-label" for="preferredLanguage">{{'LOCALE' | translate}}</label>
                    <select class="form-control" ng-model="account.preferredLanguage" id="preferredLanguage" name="preferredLanguage" ng-options="ll.id as ll.label for ll in languageLocales"></select>
                </div>
            </div>
            
      </div>
      <div class="row" ng-if="mtype == 'email'">
            <div class="col-lg-12 col">
                <div class="form-group input-group">
                    <label class="input-group-addon control-label" for="email">{{'NEW_EMAIL' | translate}}</label>
                    <input inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}" 
                           type="email" class="form-control ui-autocomplete" id="email" name="email"
                           ng-model="account.contactEmail" required autocomplete="on">
                </div>
            </div>
            <div class="col-lg-12 col">
                <div class="form-group input-group hidden">
                    <label class="input-group-addon control-label" for="password">{{'PASSWORD' | translate}}</label>
                    <input inline-error-input inline-error-input-required-message="{{'REQUIRED' | translate}}"
                           type="text" class="form-control ui-autocomplete" id="password" name="password"
                           ng-model="account.password" autocomplete="on">
                </div>
            </div>
       
      </div>
      <div class="modal-footer">
          <button ng-click="closeEditUserDialog()" id="cancel-btn" class="btn btn-secondary btn-lg">{{'CANCEL' | translate}}</button>
          <button type="submit" id="save-btn" class="btn btn-primary btn-lg">{{'SAVE' | translate}}</button>
      </div>
    </div>
</form>
